<div>
	<form name="updateUser" action="#" method="post">
		<input type="hidden" name="edit" value="{user_id}" />
		<div class="form_div">
			<div class="field_caption">{lang_user_name}:</div>
			<div class="field_element">{user_name}</div>
		</div>
		<div class="clear"></div>
		<div class="form_div">
			<div class="field_caption">{lang_user_manager_first_name}: <span class="required">*</span></div>
			<div class="field_element"><input type="text" name="user_first_name" value="{user_firstname}" /></div>
		</div>
		<div class="clear"></div>
		
		<div class="form_div">
			<div class="field_caption">{lang_user_manager_last_name}: <span class="required">*</span></div> 
			<div class="field_element"><input type="text" name="user_last_name" value="{user_lastname}" /></div>
		</div>
		<div class="clear"></div>
		
		<div class="form_div">
			<div class="field_caption">{lang_last_modified}:</div>
			<div class="field_element">{user_last_modified}</div>
		</div>
		<div class="clear"></div>
		
		{password_block}
			<div class="form_div">
				<div class="field_caption">{lang_user_password}: <span class="required">*</span></div>
				<div class="field_element"><input type="password" name="edit_user_pass" /></div>
			</div>
			<div class="clear"></div>
			
			<div class="form_div">
				<div class="field_caption">{lang_user_password} ({lang_again}) <span class="required">*</span></div>
				<div class="field_element"><input type="password" name="edit_user_pass2" /></div>
			</div>
			<div class="clear"></div>
			
		{password_block}
		<div class="form_div">
			<div class="field_caption">{lang_user_email}: <span class="required">*</span>{lang_email_not_displayed}</div>
			<div class="field_element"><input type="text" name="user_email" value="{user_emailAddress}" /> </div>
		</div>
		<div class="clear"></div>
		
		{user_detail_fields}
		
		<div class="form_div">
			<div class="field_caption"></div>
			<div class="field_element">
				<input type="submit" value="{lang_update_button}" />
			</div>
		</div>
		<div class="clear"></div>
	</form>
</div>	