
<!-- bof "search_page_default.html" -->
<div id="search_page_default">
{no_search_results_block}
	<div class="no_results">
		<p>{lang_no_results_msg}</p>
		<p><a href="{save_search_link}">{lang_no_results_save_search_link_text}</a> {lang_no_results_save_search}</p>
	</div>
	<div class="clear"></div>
{/no_search_results_block}
	<div id="templated_search_form">
		<div class="float_left">
			{featured_listings_vertical}
		</div>
		<div id="templated_search_form_data">
			<h3>{lang_search_listings}</h3>
			<p>{browse_all_listings_pclass}</p>
{templated_search_form_block}
			<h4>{lang_find_the_perfect_property}</h4>
			<form id="search_page_form" action="index.php" method="get">
				<!-- bof TABLE HARDCODED -->
				{search_fields}
				<!-- eof TABLE HARDCODED -->
				<label for="searchtext">{lang_text_search}</label> {full_text_search}<br />
				{searchbox_created_in_last_days}
				<label for="imagesOnly">{lang_show_only_with_images}</label> {show_only_with_images} <br />
				<label for="vtoursOnly">{lang_show_only_with_vtours}</label> {show_only_with_vtours} <br />
				
				<input type="hidden" name="action" value="searchresults" />
				{search_type}
				<input class="or_std_button" type="button" value="{lang_search_button}" onclick="submit();" />
			</form>
{/templated_search_form_block}
		</div>
	</div>
</div>
<!-- eof "search_page_default.html" -->
