<!-- bof "search_class_default.html" -->
		<!-- bof SEARCH CLASS FORM -->
	<div id="search_class_form">
		<h3>{lang_property_class_lookup_legend}</h3>
		<form action="index.php" method="get" name="class_search_form" id="class_search_form">
			<input id="class0" checked="checked" name="pclass[]" value="" type="checkbox" onclick="SearchClassCheckALL()" /><label>{lang_all_listings}</label><br />
			{property_class_checkboxes}
			<input id="action" name="action" value="" type="hidden" />
			<br />
			<div >
				<input class="or_std_button" id="button_search_listings" name="build_search" value="{lang_search_listings}" type="button" onclick="document.class_search_form.action.value='search_step_2';document.getElementById('class_search_form').submit();" />
				<input  class="or_std_button" id="button_view_listings"  name="view_search_results" value="{lang_view_listings}" type="button" onclick="document.class_search_form.action.value='searchresults';document.getElementById('class_search_form').submit();" />
			</div>	
		</form>
	</div>
	<!-- eof SEARCH CLASS FORM -->
<!-- eof "search_class_default.html" -->
