<form id="add_listing_form" name="add_listing_form" action="#" method="post">
	
	<table>
		<tr>
			<td><div class="add_listing_field_caption">{lang_admin_listings_editor_title}:</div></td>
			<td>
				<div class="add_listing_field_element">
					<input type="text" name="title" class="required" /> <span class="form_required_field"></span>
				</div>
			</td>
		</tr>
		
		<tr>
			<td><div class="add_listing_field_caption">{lang_admin_listings_editor_property_class}:</div></td>
			<td>
				<div class="add_listing_field_element">
					<select name="pclass[]" class="required">
					{pclass_block}
						<option value="{value}" {selected}>{text}</option>
					{/pclass_block}
					</select> <span class="form_required_field"></span>
				</div>
			</td>
		</tr>
		{check_edit_all_listings}
		<tr>
			<td><div class="add_listing_field_caption">{lang_listing_editor_listing_agent}:</div></td>
			<td>
				<div class="add_listing_field_element">
					<select name="or_owner" class="required" size="1">
						{listing_agent_option_block}
						<option value="{value}" {selected}>{text}</option>
						{/listing_agent_option_block}
					</select> <span class="form_required_field"></span>	 
				</div>
			</td>
		</tr>
		{/check_edit_all_listings}
	
	</table>
	<div class="space_10"></div>
	<div style="text-align: center;">
		<input type="submit" id="add_listing_form_button"  class="or_std_button" value="{lang_submit}" />
	</div>

		
</form>

	
	<script type="text/javascript">
	
	
		$("#add_listing_form").validate({
			meta: "validate",
			submitHandler: function(form) {
				$("#add_listing_form_button").attr("disabled", "true");
				$.post("{baseurl}/admin/ajax.php?action=ajax_add_listing", $("#add_listing_form").serialize(),
					function(data){
						if(data.error == "1"){
							$("#add_listing_form_button").attr("disabled", "false");
							alert(data.error_msg);
						}
						else{
							var listing_id = data.listing_id;
							$("#add_listing_form_button").attr("disabled", "false");
							$("#dialog-message").dialog( "destroy" );
							window.location = "{baseurl}/admin/index.php?action=edit_listing&edit="+listing_id;
						}
					}
				,"json");
				return false;
			},
   			highlight: function(element) {
				$(element).css("background", "#FFCCCC");
				$(element).css("border-color", "#3300ff");
			},
			// Called when the element is valid:
			unhighlight: function(element) {
				$(element).css("background", "#FFFFCC");
				$(element).css("border-color", "#AAAAAA");
			}
		});	
</script>
