{load_css_datatable} {load_css_addon_manager}
<script
  type="text/javascript"
  src="{baseurl}/node_modules/datatables/media/js/jquery.dataTables.min.js"
></script>
<script type="text/javascript">
  $(document).ready(function () {
    $(".display").on("click", "a[rel=external]", function () {
      let url = $(this)[0].href;
      agree = confirmDelete("{lang_external_site_warning}");
      if (!agree) {
        event.preventDefault();
      }
    });
    $("#tabs").uitabs();
    //Load Installed Addon Table
    $("#insaddons").dataTable({
      sPaginationType: "full_numbers",
      bAutoWidth: false,
      sDom: '<"top" <lf><"clear">> rt <"bottom"ip <"clear">>',
    });
    var store_shown = false;
    $("#tab-addon-store").click(function () {
      console.log("Store Click Registered");
      if (store_shown == false) {
        console.log("Store store_shown false");
        store_shown = true;
        storeTable = $("#store-addons").dataTable({
          pagingType: "full_numbers",
          processing: true,
          autoWidth: false,
          dom: '<"top" <lf><"clear">> rt <"bottom"ip <"clear">>',
          ajax: "{baseurl}/admin/ajax.php?action=ajax_show_store_addons",
          columns: [
            { data: "title" },
            { data: "author" },
            { data: "homepage", visible: false },
            { data: "docs", visible: false },
            { data: "folder", visible: false },
            { data: "version" },
            { data: "download_url", visible: false },
            { data: "stability" },
            { data: "min_compatibility", visible: false },
            { data: "max_compatibility", visible: false },
            {
              render: function (data, type, row) {
                console.log(row);
                return (
                  `<a href="` +
                  row["homepage"] +
                  `" rel="external" rel="noopener noreferrer" target="_blank" title="{lang_addon_view_listing}">
									<img class="addon_manager_action_icon"  width="16px" height="16px" src="{template_url}/images/addon_web.png" alt="{lang_addon_view_listing}" />
								</a>
								<a href="` +
                  row["docs"] +
                  `" rel="external" rel="noopener noreferrer" target="_blank"  title="{lang_addon_view_docs}">
									<img class="addon_manager_action_icon" src="{template_url}/images/addon_templatetags.png" alt="{lang_addon_view_docs}" />
								</a> 
								<a href="{baseurl}/admin/index.php?action=addon_manager&amp;install=` +
                  row["folder"] +
                  `" title="{lang_addon_install}">
									<img class="addon_manager_action_icon" src="{template_url}/images/addon_install.png" alt="{lang_addon_install}" />
								</a>`
                );
              },
            },
          ],
        });
        /*
			storeTable.fnFilter( "[^|\|]?'.$config['version'].'[$|\|]?",5,true );
			$( "#store_current_filter" ).click(function(){
				$("#store_current_filter").css({"font-weight": "bold"});
				$("#store_all_filter").css({"font-weight": "normal"});
				storeTable.fnFilter( "[^|\|]?'.$config['version'].'[$|\|]?",5,true );
				return false;
			});
			$( "#store_all_filter" ).click(function(){
				$("#store_current_filter").css({"font-weight": "normal"});
				$("#store_all_filter").css({"font-weight": "bold"});
				storeTable.fnFilter( "",5 );
				return false;
			});
			*/
      }
    });
  });

  function output_window(url) {
    var outputwindow = `<iframe src="about:blank" id="addon-outputwindow" src="" style="" frameborder="0" marginwidth="0" marginheight="0" scrolling="auto"></iframe>`;
    var winW = $(window).width() * 0.8;
    var winH = $(window).height() * 0.7;
    var t_task = "";

    $("#dialog-message").dialog({
      title: t_task,
      position: {
        my: "center top+10%",
        at: "top",
        of: window,
        collision: "none",
      },
      width: winW,
      height: winH,
      modal: true,
      resizeStop: function (event, ui) {
        var newheight = $(this).outerHeight() - 64;
        $("#addon-outputwindow").css({
          height: newheight,
        });
      },
      buttons: {
        Close: function () {
          $(this).dialog("close");
        },
      },
    });

    $("#message_text").html(outputwindow);
    $("#addon-outputwindow").attr("src", url);
    $("#addon-outputwindow").on("load", function () {
      $("#dialog-message").dialog("option", "title", "");
      var newheight = $(".ui-dialog").outerHeight() - 124;
      $("#addon-outputwindow").css({
        height: newheight,
      });
    });
  }
</script>

<div class="application_main">
  <div class="application_section">
    <img
      src="{template_url}/images/icon_large_addonmanager.png"
      alt="{lang_admin_addon_manager}"
    />
    <div class="application_section_title">{lang_admin_addon_manager}</div>
    <div class="application_status_message" id="application_status_message">
      {application_status_text}
    </div>
    <div style="clear: both"></div>
  </div>

  <div class="inner_div">
    <div class="inner_div_wrapper">
      <div id="addon_status_message" class="post_id_text"></div>

      <!-- define tabs -->
      <div id="tabs">
        <ul>
          <li><a href="#installed">{lang_addon_manager_tab_installed}</a></li>
          <li>
            <a href="#addon-store" id="tab-addon-store"
              >{lang_addon_manager_store}</a
            >
          </li>
          <li><a href="#manual">{lang_addon_manager_tab_install}</a></li>
        </ul>

        <!-- container for tab panes -->
        <div class="css-panes">
          <!-- Pane 1 -->
          <div id="installed">
            <div class="addon_dtcontainer">
              <table cellspacing="1" class="display" id="insaddons">
                <thead>
                  <tr>
                    <th>{lang_addon_name}</th>
                    <th>{lang_addon_version}</th>
                    <th>{lang_addon_status}</th>
                    <th>{lang_addon_actions}</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>{lang_addon_title}</th>
                    <th>{lang_addon_author}</th>
                    <th>{lang_addon_version}</th>
                    <th>{lang_addon_actions}</th>
                  </tr>
                </tfoot>
                <tbody>
                  {addon_installed_block}
                  <tr>
                    <td>{addon_name}</td>
                    <td>{addon_version}</td>
                    <td class="addon_manager_list_data">
                      <span class="addon_status_{status_code}"
                        >{status_msg}</span
                      >
                    </td>

                    <td class="addon_manager_list_data">
                      {action_update_block}
                      <a
                        href="{baseurl}/admin/index.php?action=addon_manager&amp;check_update={addon_name}"
                        title="{lang_addon_check_for_updates}"
                      >
                        <img
                          class="addon_manager_action_icon"
                          src="{template_url}/images/addon_check_update.png"
                          alt="{lang_addon_check_for_updates}"
                        />
                      </a>
                      {/action_update_block}

                      <div style="width: 16px; display: inline-block">
                        {action_help_block}
                        <a
                          class="iframe"
                          href=""
                          onclick="javascript:output_window('{baseurl}/admin/index.php?action=addon_manager&amp;view_help={addon_name}&amp;popup=yes');return false;"
                          title="{lang_addon_view_docs}"
                        >
                          <img
                            class="addon_manager_action_icon"
                            src="{template_url}/images/addon_templatetags.png"
                            alt="{lang_addon_view_docs}"
                          />
                        </a>
                        {/action_help_block}
                      </div>

                      {action_uninstall_block}
                      <a
                        href="{baseurl}/admin/index.php?action=addon_manager&amp;uninstall={addon_name}"
                        onclick="return confirmDelete('{lang_delete_addon}')"
                        title="{lang_addon_uninstall}"
                      >
                        <img
                          class="addon_manager_action_icon"
                          src="{template_url}/images/generic_icon_delete.png"
                          alt="{lang_addon_uninstall}"
                        />
                      </a>
                      {/action_uninstall_block}
                    </td>
                  </tr>
                  {/addon_installed_block}
                </tbody>
              </table>
            </div>
            <div class="clear"></div>
          </div>

          <div id="addon-store">
            <!-- <div class="addon_compatiblity_filter">
						<strong>{lang_admin_addons_show_compaible} </strong>  
						<a href="" id="store_current_filter">{lang_admin_addons_show_compaible_current}</a> | 
						<a href="" id="store_all_filter">{lang_admin_addons_show_compaible_previous}</a>
					</div> 
					<br >-->
            <div class="addon_dtcontainer">
              <table cellspacing="1" class="display" id="store-addons">
                <thead>
                  <tr>
                    <th>{lang_addon_title}</th>
                    <th>{lang_addon_author}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{lang_addon_version}</th>
                    <th></th>
                    <th>Stability</th>
                    <th></th>
                    <th></th>
                    <th>{lang_addon_actions}</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>{lang_addon_title}</th>
                    <th>{lang_addon_author}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{lang_addon_version}</th>
                    <th></th>
                    <th>Stability</th>
                    <th></th>
                    <th></th>
                    <th>{lang_addon_actions}</th>
                  </tr>
                </tfoot>
                <tbody></tbody>
              </table>
            </div>
            <div class="clear"></div>
          </div>

          <!--//Pane 5-->
          <div id="manual">
            <table cellspacing="1" class="tablesorter" id="commaddons">
              <thead>
                <tr>
                  <td class="tableHeader">{lang_addon_manager_tab_install}</td>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td class="tableHeader">
                    {lang_addon_manager_install_warning}
                  </td>
                </tr>
              </tfoot>
              <tbody>
                <tr>
                  <td style="text-align: center">
                    <form
                      enctype="multipart/form-data"
                      action="index.php?action=addon_manager"
                      method="post"
                    >
                      <strong>{lang_upload_send_this_file}: </strong
                      ><input name="userfile" type="file" /><br />
                      <br />
                      {lang_addon_upgrade_file}
                      <input type="checkbox" name="upgrade" value="yes" />
                      <input type="submit" value="{lang_addon_send_file}" />
                      <input type="hidden" name="action" value="man_install" />
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br />
        </div>
        <!-- end tabs -->
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
