<div class="application_rounded_box_title">{lang_blog_categories}</div>

	<div class="blog_edit_sub_section">

		<!-- the tabs -->
		<div id="mini-tabs">
			<ul>
				<li><a href="#cat_update">{lang_blog_categories}</a></li>
				<li><a href="#cat_popular">{lang_blog_most_popular}</a></li>
			</ul>
			<!-- begin first tab contents -->
			<div id ="cat_update">
				<form action="#" method="post" id="blog_categories_update">
					{blog_category_block} 
					<input type="checkbox" class="cat_checkbox {child_lvl}" name="cat_id" value="{blog_category_id}" {blog_category_checked} />{blog_category_name} <br />
					{/blog_category_block}
				</form>
				<br />
			</div>
	
			<!-- begin second tab contents -->
			<div id ="cat_popular">
				<form action="#" method="post" id="blog_popular_categories_update">
					{blog_popularcategory_block} 
						<input type="checkbox" class="cat_checkbox" name="cat_id" value="{blog_category_id}" {blog_category_checked} />{blog_category_name} 
					<br />
					{/blog_popularcategory_block}
				</form>
				<br />
			</div>
		</div>
		
	</div>
	
	<div class="space_5">&nbsp;</div>
	
	{check_edit_site_config} 
		<div class="or_std_button blog_add_cat" >{lang_blog_add_new_category}</div>
	{/check_edit_site_config}
	{!check_edit_site_config}
	
	{check_is_blog_editor}
		<div class="or_std_button blog_add_cat" >{lang_blog_add_new_category}</div>
	{/check_is_blog_editor}{/!check_edit_site_config}
	
		<div class="space_5">&nbsp;</div>
		
		<div id="add_blog_category" style="display: none; text-align: center;">
			
			<form id="add_blog_category_form" class="add_blog_category_form" action="#" method="post">
				
				<div class="edit_blog_add_cat_box">
					<div id="cat_error_text" style="text-align: left; margin-left: 82px;"></div>
					
					<input id="category_rank" type="hidden" name="rank" value="0" />
				
					<span style="font-size: 8pt;">{lang_blog_category_name}: </span><input id="category_title" type="text" name="title" value="" class="required" /> <span class="form_required_field"></span>
					<div class="space_10">&nbsp;</div>
					<span style="font-size: 8pt;">{lang_blog_category_parent}: </span>
					<select name="parent" id="add_blog_category_parent">
						{add_blog_category_parent_block}
						<option value="{blog_category_id}">{child_lvl}{blog_category_name}</option>
						{/add_blog_category_parent_block}
					</select> 
				
					<div class="space_10">&nbsp;</div>
					<div class="or_std_button blog_new_cat" id="add_category_button" >{lang_blog_add_category}</div>
				</div>
				
			</form>
			<br />
		</div>
		

<script type="text/javascript">
	$("#mini-tabs").uitabs();
	
	$(".cat_checkbox").change(
		function() {
			change_blog_cat_status($(this));
		}
	);
	
	$(".blog_add_cat").click(
		function() {
			$("#add_blog_category").toggle();
		}
	);
	
	$("#add_category_button").click(function(){
		$("#add_blog_category_form").submit();
	});
	
	$("#add_blog_category_form").validate({
		errorLabelContainer: "#cat_error_text",
		submitHandler: function(form) {
			ShowPleaseWait();
			$.post("ajax.php?action=ajax_create_blog_category", $("#add_blog_category_form").serialize(),
				function(data) {
					if(data.error == "1") {
						alert(data.error_msg);
					}
					else {
						$("#blog_categories_update").load("ajax.php?action=edit_blog_post_categories&container=blog_cats");
						$("#add_blog_category_parent").load("ajax.php?action=edit_blog_post_categories&container=blog_cat_parent");
						$(".cat_checkbox").on("change",
							function() {
								change_blog_cat_status($(this));
							}
						);
						status_msg("{lang_cat_created}");
					}

			 	}, "json");
			HidePleaseWait();
			return true;
		},
		highlight: function(element) {
	        $(element).css("background", "#FFCCCC");
	        $(element).css("border-color", "#3300ff");
	    },
	    // Called when the element is valid:
	    unhighlight: function(element) {
	        $(element).css("background", "#FFFFCC");
	         $(element).css("border-color", "#AAAAAA");
	    }
	});
</script>
 