<div>

<form id="site_config_general" method="post" action="">
	<fieldset><!--<legend><strong>{lang_site_config_blog}</strong></legend>-->
	<table align="center" cellspacing="0" cellpadding="3" width="99%" border="0">
		<tr class="tdshade1">
			<td width="130"><strong>{lang_blogs_per_page}</strong></td>
			<td>
				<input type="text" name="controlpanel_blogs_per_page" value="{controlpanel_blogs_per_page}"/>
			</td>
			<td>
				{lang_blogs_per_page_desc}
			</td>
			</tr>
			<tr class="tdshade2">
			<td width="130"><strong>{lang_blog_requires_moderation}</strong></td>
			<td>
				<select name="controlpanel_blog_requires_moderation">
				{blog_requires_moderation_block}
					<option value="{value}"{selected}>{text}</option>
				{/blog_requires_moderation_block}
				</select>
			<td>{lang_blog_requires_moderation_desc}</td>
			</tr>
			<tr class="tdshade1">
			<td width="130"><strong>{lang_allow_pingbacks}</strong></td>
			<td>
				<select name="controlpanel_allow_pingbacks">
				{allow_pingbacks_block}
				<option value="{value}"{selected}>{text}</option>
				{/allow_pingbacks_block}
				</select>
			</td>
			<td>{lang_allow_pingbacks_desc}</td>
			</tr>
			<tr class="tdshade2">
			<td width="130"><strong>{lang_send_url_pingbacks}</strong></td>
			<td>
				<select name="controlpanel_send_url_pingbacks">
				{send_url_pingbacks_block}
				<option value="{value}"{selected}>{text}</option>
				{/send_url_pingbacks_block}
				</select>
			</td>
			<td>{lang_send_url_pingbacks_desc}</td>
			</tr>
			<tr class="tdshade1">
			<td width="130"><strong>{lang_send_service_pingbacks}</strong></td>
			<td>
				<select name="controlpanel_send_service_pingbacks">
				{send_service_pingbacks_block}
				<option value="{value}"{selected}>{text}</option>
				{/send_service_pingbacks_block}
				</select>
			</td>
			<td>{lang_send_service_pingbacks_desc}</td>
			</tr>
			<tr class="tdshade2">

			<td width="130"><strong>{lang_blog_pingback_urls}</strong></td>
			<td>
				<textarea name="controlpanel_blog_pingback_urls" cols="35" rows="10">{controlpanel_blog_pingback_urls}</textarea>
			</td>
			<td>{lang_blog_pingback_urls_desc}</td>
			</tr>
		</table>
		<br />
		<input type="submit" id="blog_update_button" class="or_std_button" value="{lang_save_changes}" />
	</fieldset>
</form>

</div>

<script type="text/javascript">
$("#site_config_general").validate({
	meta: "validate",
	errorLabelContainer: "#response_text",
	submitHandler: function(form) {
		$.post("ajax.php?action=update_site_config", $("#site_config_general").serialize(), function(data){
			if(data.error == "1"){
				alert(data.error_msg);
			}else{
				alert(data.status);
			}
		},"json");
		return false;
	}
});
</script>