 <div class ="application_main">
 	<div class="application_section">
 		<img src="{template_url}/images/icon_blog_publisher.png" alt="{lang_admin_blog_manager}" />
		<div class="application_section_title">
			{lang_admin_blog_manager}
		</div>
		<div class="application_status_message" id="application_status_message">{application_status_text}</div>
		<div style="clear: both;"></div>
	</div>
	
	<div class="inner_div">
		<div class="inner_div_wrapper">
			<div class="blog_article">
				<div class="blog_date">{blog_date_posted}</div>
				<div class="blog_title">{blog_title}</div>
			</div>
			<br />
			{blog_article_comments_block}
			<div class="blog_article_comments">
				<div class="blog_article_comments_header">{lang_blog_comments}</div>
				{next_prev}
				{blog_article_comment_item_block}
				<div class="blog_article_comment_item">
					<div class="blog_article_comment_title_row">
						<div class="blog_article_comment_title_column">
							{lang_blog_comment_by} <span class="blog_comment_author">{blog_comment_author}</span> {lang_blog_comment_on} 
							<span class="blog_comment_date"> {blog_comment_date_posted}</span></div>
						<div class="comment_tools">
							{blog_article_comment_delete_block}<a href="{blog_comment_delete_url}"><img src="{template_url}/images/generic_icon_delete.png" alt="{lang_blog_comment_delete}" class="comment_tool_image" /></a>{/blog_article_comment_delete_block} 
							<span class="blog_comment_approve_span">{blog_article_comment_approve_block}<a href="{blog_comment_approve_url}"><img src="{template_url}/images/blog_comment_approve.jpg" alt="lang_blog_comment_approve" class="comment_tool_image" /></a>{/blog_article_comment_approve_block}</span>
						</div>
					</div>
					<div class="blog_article_comment_text">{blog_comment_text}</div>
				</div>
				{/blog_article_comment_item_block}
			</div>
			{/blog_article_comments_block}
		</div>
	</div>
	<div style="clear: both;"></div>
	
</div>