<div class ="application_main">

	<div class="application_section">
		 <img src="{template_url}/images/icon_large_usermanager.png" height="32" width="32" alt="{lang_user_manager}" />
		<div class="application_section_title">{lang_user_manager}</div>
		<div class="application_status_message" id="application_status_message">{application_status_text}</div>
		<span class="application_section_info"></span>
		<div style="clear: both;"></div>
	</div>

	<div class="inner_div">
	
		<!--  Main container -->
		<div class="inner_div_wrapper">

			<form id="user_data" action="#" method="post">
				<input type="hidden" name="user_id" value="{user_id}" />

				<div class="agent_status_box edit_user_div">
			
					<div class="info_divs">
						<div style="margin-top: 6px; padding-left:10px; ">
							{lang_last_modified}: <span class="user_info_perm_val">{last_modified}</span>
						</div>
					</div>
					<div class="info_divs">
						<div class="user_info"><span>{lang_user_name}:</span><span class="user_info_name">{user_name}</span></div>
					</div>
					<div class="info_divs">
						<div style="padding: 2px 8px 0px 8px; text-align: center;">
							<div class="or_std_button update_userdata medf" style="display: inline-block; margin-right: 10px;">{lang_update}</div>
							<div class="or_std_button red medf" id="delete_user" style="display: inline-block";>Delete</div>
						</div>
					</div>
					<div class="clear"></div>
					
					<div class="space_5"></div>

					<div class="filter_div">
						<div class="filter_divs">
							<div style="margin-top: 11px; margin-bottom: 2px;  ">
								{lang_user_manager_is_an_admin}: <span class="user_info_perm_val">{user_isAdmin}</span> | 
								{lang_user_manager_is_an_agent}: <span class="user_info_perm_val">{user_isAgent}</span>
							</div>	
						</div>	
						
						{check_edit_all_users}

						<div class="filter_divs">
								<div class="form_div">{lang_user_manager_is_user_active}:<select id="user_active" name="edit_active" size="1">
																			{user_status_option_block}
																				<option value="{value}" {selected}>{text}</option>
																			{/user_status_option_block}
									</select> 
									<input type="hidden" id="edit_listing_active" name="edit_listing_active" value="user_" />
									
								</div>
								<div class="clear"></div>
						</div>
						{/check_edit_all_users}
						
						{agentadmin_block}
						<div class="filter_divs">
							<div class="form_div">
								{lang_user_manager_displayorder}: <input type="text" id="edit_userRank" name="edit_userRank" value="{user_userRank}" />
							</div>
							
						</div>
						{/agentadmin_block}
					</div>
					<div class="clear"></div>

					<div class="space_5"></div>
				</div>

			<div class="edit_user_center">
		
				<div id="user_top_fields">
					<div class="space_10"></div>	
						
					<div class="form_div">
						
						{check_edit_all_users}
						<!--  Inactive user alert -->
						<div class="center_align">
							<span id="alert_user_inactive" class="redtext weight_600">
								{lang_alert_user_inactive}
								<div class="space_10"></div>
							</span>
						</div>
						{/check_edit_all_users}
						
						<div class="user_field_caption">
							{lang_user_manager_first_name}: 
						</div>
						<div class="user_field_element">
							<input type="text" name="user_first_name" class="required" value="{user_first_name}" /> <span class="form_required_field"></span>
						</div>
					</div>
					<div class="clear"></div>
					<div class="form_div">
						<div class="user_field_caption">
							{lang_user_manager_last_name}:
						</div>
						<div class="user_field_element">
							<input type="text" name="user_last_name" class="required" value="{user_last_name}" /> <span class="form_required_field"></span>
						</div>
					</div>
					<div class="clear"></div>
					<div class="form_div">
						<div class="user_field_caption">
							{lang_user_email}:
						</div>
						<div class="user_field_element">
							<input type="text" name="user_email" class="required email" value="{user_email}" /> <span class="form_required_field"></span>
						</div>
					</div>
					<div class="clear"></div>
					
					
					{user_password_block}
						<div class="form_div">
							<div class="user_field_caption">{lang_user_password}: </div>
							<div class="user_field_element"><input type="password" name="edit_user_pass" autocomplete="off" /></div>
						</div>
						<div class="clear"></div>
						<div class="form_div">
							<div class="user_field_caption">{lang_user_password} ({lang_again}):  </div>
							<div class="user_field_element"><input type="password" name="edit_user_pass2" autocomplete="off" /></div>
						</div>
						<div class="clear"></div>
					{/user_password_block}
					
					{check_admin}
					
					{agentadmin_block}
						<div class="form_div">
							<div class="user_field_caption">{lang_user_manager_send_notifications_to_floor_agent}:</div>
							<div class="user_field_element">
								<select id="edit_userFloorNotify" name="edit_userFloorNotify" size="1">
									{userFloorNotify_block}
										<option value="{value}" {selected}>{text}</option>
									{/userFloorNotify_block}
								</select> 
							</div>
						</div>
						<div class="clear"></div>
						
						<div class="form_div">
							<div class="user_field_caption">{lang_user_manager_limitListings}: </div>
							<div class="user_field_element">
								<input type="text" id="edit_limitListings" name="edit_limitListings" value="{user_limitListings}" /><i>(-1 = Unlimited)</i>
							</div>
						</div>
						<div class="clear"></div>
						
						<div class="form_div">
							<div class="user_field_caption">{lang_user_manager_limitFeaturedListings}: </div>
							<div class="user_field_element">
								<input type="text" id="edit_limitFeaturedListings" name="edit_limitFeaturedListings" value="{user_limitFeaturedListings}" /><i>(-1 = Unlimited)</i>
							</div>
						</div>
						<div class="clear"></div>
					{/agentadmin_block}
					
					{agent_block}
					
			
					
					<div class="form_div">
						<div class="user_field_caption">{lang_user_editor_can_edit_all_listings}:</div>
						<div class="user_field_element">
							<select id="edit_canEditAllListings" name="edit_canEditAllListings" size="1">
								{canEditAllListings_block}
									<option value="{value}" {selected}>{text}</option>
								{/canEditAllListings_block}
							</select> 
						</div>
					</div>
					<div class="clear"></div>
					
					<div class="form_div">
						<div class="user_field_caption">{lang_user_editor_can_edit_all_users}:</div>
						<div class="user_field_element">
							<select id="edit_canEditAllUsers" name="edit_canEditAllUsers" size="1">
								{canEditAllUsers_block}
									<option value="{value}" {selected}>{text}</option>
								{/canEditAllUsers_block}
							</select> 
						</div>
					</div>
					<div class="clear"></div>
					
					<div class="form_div">
						<div class="user_field_caption">{lang_user_editor_can_edit_site_config}:</div>
						<div class="user_field_element">
							<select id="edit_canEditSiteConfig" name="edit_canEditSiteConfig" size="1">
								{canEditSiteConfig_block}
									<option value="{value}" {selected}>{text}</option>
								{/canEditSiteConfig_block}
							</select> 
						</div>
					</div>
					<div class="clear"></div>
					
					<div class="form_div">
						<div class="user_field_caption">{lang_user_editor_can_edit_member_template}:</div>
						<div class="user_field_element">
							<select id="edit_canEditMemberTemplate" name="edit_canEditMemberTemplate" size="1">
								{canEditMemberTemplate_block}
									<option value="{value}" {selected}>{text}</option>
								{/canEditMemberTemplate_block}
							</select> 
						</div>
					</div>
					<div class="clear"></div>
					
					<div class="form_div">
						<div class="user_field_caption">{lang_user_editor_can_edit_agent_template}:</div>
						<div class="user_field_element">
							<select id="edit_canEditAgentTemplate" name="edit_canEditAgentTemplate" size="1">
								{canEditAgentTemplate_block}
									<option value="{value}" {selected}>{text}</option>
								{/canEditAgentTemplate_block}
							</select> 
						</div>
					</div>
					<div class="clear"></div>
					
					<div class="form_div">
						<div class="user_field_caption">{lang_user_editor_can_edit_listing_template}:</div>
						<div class="user_field_element">
							<select id="edit_canEditListingTemplate" name="edit_canEditListingTemplate" size="1">
								{canEditListingTemplate_block}
									<option value="{value}" {selected}>{text}</option>
								{/canEditListingTemplate_block}
							</select>
						</div>
					</div>
					<div class="clear"></div>
					
					<div class="form_div">
						<div class="user_field_caption">{lang_user_editor_can_edit_property_classes}:</div>
						<div class="user_field_element">
							<select id="edit_canEditPropertyClasses" name="edit_canEditPropertyClasses" size="1">
								{canEditPropertyClasses_block}
									<option value="{value}" {selected}>{text}</option>
								{/canEditPropertyClasses_block}
							</select> 
						</div>
					</div>
					<div class="clear"></div>
					
					<div class="form_div">
						<div class="user_field_caption">{lang_user_manager_can_view_logs}:</div>
						<div class="user_field_element">
							<select id="edit_canViewLogs" name="edit_canViewLogs" size="1">
								{canViewLogs_block}
									<option value="{value}" {selected}>{text}</option>
								{/canViewLogs_block}
							</select> 
						</div>
					</div>
					<div class="clear"></div>
					
					<div class="form_div">
						<div class="user_field_caption">{lang_user_manager_is_a_moderator}:</div>
						<div class="user_field_element">
							<select id="edit_canModerate" name="edit_canModerate" size="1">
								{canModerate_block}
									<option value="{value}" {selected}>{text}</option>
								{/canModerate_block}
							</select> 
						</div>
					</div>
					<div class="clear"></div>
					
					<div class="form_div">
						<div class="user_field_caption">{lang_user_manager_feature_listings}:</div>
						<div class="user_field_element">
							<select id="edit_canFeatureListings" name="edit_canFeatureListings" size="1">
								{canFeatureListings_block}
									<option value="{value}" {selected}>{text}</option>
								{/canFeatureListings_block}
							</select> 
						</div>
					</div>
					<div class="clear"></div>
					
					<div class="form_div">
						<div class="user_field_caption">{lang_user_manager_can_edit_pages}:</div>
						<div class="user_field_element">
							<select id="edit_canPages" name="edit_canPages" size="1">
								{canPages_block}
									<option value="{value}" {selected}>{text}</option>
								{/canPages_block}
							</select> 
						</div>
					</div>
					<div class="clear"></div>
					
					<div class="form_div">
						<div class="user_field_caption">{lang_user_manager_can_have_vtours}:</div>
						<div class="user_field_element">
							<select id="edit_canVtour" name="edit_canVtour" size="1">
								{canVtour_block}
									<option value="{value}" {selected}>{text}</option>
								{/canVtour_block}
							</select> 
						</div>
					</div>
					<div class="clear"></div>
					
					<div class="form_div">
						<div class="user_field_caption">{lang_user_manager_can_have_files}:</div>
						<div class="user_field_element">
							<select id="edit_canFiles" name="edit_canFiles" size="1">
								{canFiles_block}
									<option value="{value}" {selected}>{text}</option>
								{/canFiles_block}
							</select> 
						</div>
					</div>
					<div class="clear"></div>
					
					<div class="form_div">
						<div class="user_field_caption">{lang_user_manager_can_have_user_files}:</div>
						<div class="user_field_element">
							<select id="edit_canUserFiles" name="edit_canUserFiles" size="1">
								{canUserFiles_block}
									<option value="{value}" {selected}>{text}</option>
								{/canUserFiles_block}
							</select> 
						</div>
					</div>
					<div class="clear"></div>
					
					<div class="form_div">
						<div class="user_field_caption">{lang_user_editor_can_edit_listing_expiration}:</div>
						<div class="user_field_element">
							<select id="edit_canEditListingExpiration" name="edit_canEditListingExpiration" size="1">
								{canEditListingExpiration_block}
									<option value="{value}" {selected}>{text}</option>
								{/canEditListingExpiration_block}
							</select> 
						</div>
					</div>
					<div class="clear"></div>
					
					<div class="form_div">
						<div class="user_field_caption">{lang_user_editor_blog_privileges}:</div>
						<div class="user_field_element">
							<select id="edit_BlogPrivileges" name="edit_BlogPrivileges" size="1">
								{BlogPrivileges_block}
									<option value="{value}" {selected}>{text}</option>
								{/BlogPrivileges_block}
							</select> 
						</div>
					</div>
					<div class="clear"></div>
					
					<div class="form_div">
						<div class="user_field_caption">{lang_user_editor_can_manage_addons}:</div>
						<div class="user_field_element">
							<select id="edit_canManageAddons" name="edit_canManageAddons" size="1">
								{canManageAddons_block}
									<option value="{value}" {selected}>{text}</option>
								{/canManageAddons_block}
							</select> 
						</div>
					</div>
					<div class="clear"></div>
					
					<div class="form_div">
						<div class="user_field_caption">{lang_user_editor_can_export_listings}:</div>
						<div class="user_field_element">
							<select id="edit_canExportListings" name="edit_canExportListings" size="1">
								{canExportListings_block}
									<option value="{value}" {selected}>{text}</option>
								{/canExportListings_block}
							</select> 
						</div>
					</div>
					<div class="clear"></div>
					
					<div class="form_div">
						<div class="user_field_caption">{lang_user_editor_can_edit_all_leads}:</div>
						<div class="user_field_element">
							<select id="edit_can_edit_all_leads" name="edit_can_edit_all_leads" size="1">
								{can_edit_all_leads_block}
									<option value="{value}" {selected}>{text}</option>
								{/can_edit_all_leads_block}
							</select> 
						</div>
					</div>
					<div class="clear"></div>
					
					<div class="form_div">
						<div class="user_field_caption">{lang_user_editor_can_edit_lead_template}:</div>
						<div class="user_field_element">
							<select id="edit_can_edit_lead_template" name="edit_can_edit_lead_template" size="1">
								{can_edit_lead_template_block}
									<option value="{value}" {selected}>{text}</option>
								{/can_edit_lead_template_block}
							</select> 
						</div>
					</div>
					<div class="clear"></div>
					{/check_admin}
				
				{/agent_block}	
				
				</div>

				<div class="space_15"></div>	

			</div>
			
			

			<div class="edit_user_center">
				<div id="edit_user_fields">
					<div class="user_field_location">{lang_user_fields}</div>
					{misc_hold}
					<div class="clear">&nbsp;</div>
			
					<div style="margin-left: auto; margin-right: auto; text-align: center;">
						<input type="submit" class="or_std_button largef" value="{lang_update}" />
					</div>	
					<div class="space_10"></div>
				</div>	
			</div>	
			</form>

		</div>


		<!--  Media Column -->
		
		<div class="media_column">
			<div id="accordion">
				<a href="#" id="user_file_tab">{lang_files}</a> 
	 	 	  	<div id="user_file_pane" class="pane"></div>
			    		 						    
	 	  	 	<a href="#" id="user_image_tab" class="current">{lang_images}</a> 
	  	 		<div id="user_image_pane" class="pane" style="display:block"></div> 
			</div>
		</div>

		<div class="clear">&nbsp;</div>
		
		<!--  image/file Container -->
		<div id="edit_listing_image_container" style="display:none;">
			<form id="edit_media_form" action="#" method="post" style="max-width: 450px;  ">
				<input type="hidden" name="media_id" id="media_id_holder" />
				<input type="hidden" name="media_type" id="media_type_holder" />		

				<img id="edit_media_full_tag" src="{baseurl}/images/nophotobig.gif" border="0" alt=""/>

				<p id="edit_media_file_name"></p>
				
			
				<div style="float:left; width: 320px;">
					<div class="edit_media_caption_div">{lang_upload_caption}:</div>
					<div class="edit_media_input"><input type="text" id="edit_media_caption" name="caption" value="" /></div>
					<div class="clear"></div>

					<div class="edit_media_caption_div">{lang_upload_description}:</div>
					<div class="edit_media_input">
						<textarea id="edit_media_description" name="description"></textarea>
					</div>
					<div class="clear"></div>
				</div>	
				<div style="float:left; margin: 0px 4px 0px 8px; ;">
					
					<img id="edit_media_thumb_tag" src="{baseurl}/images/nophoto.gif" border="0" alt=""/>
				</div>
				<div class="clear"></div>
					
				<div class="space_10"></div>
				<div class="centerit">
					<a id="update_media" href="#" class="or_std_button medf">{lang_update}</a>
					<a id="delete_media" href="#" class="or_std_button red medf">{lang_delete}</a>
				</div>
			</form>
		</div>
		<!--  END image/file Container -->
		
		<!--  END Media Column -->
		
	</div>
</div>

						<script type="text/javascript">

							function change_user_status(UID, user_status, is_agent){

								var listing_warn ="";
								var user_status_new ="";
								var lang_user_status ="";
								var confirm_status ="";
								var active_html ="";
								var user_status_old ="";
								
								if (user_status =="yes"){
									listing_warn = "{lang_agent_listings_updated}";
									user_status_new = "yes";
									user_status_old = "no";
									lang_user_status = "{lang_yes}";
									confirm_status = "{lang_confirm_status_active}";
								}
								else {
									listing_warn = "{lang_confirm_listing_change}";
									user_status_new = "no";
									user_status_old = "yes";
									lang_user_status = "{lang_no}";
									confirm_status = "{lang_confirm_status_inactive}";
								}

								if (is_agent =="yes") {
									active_html = [
										   		'<table><tr>',
									   	   		'<td>{lang_confirm_status_id} '+UID+' ', 
									   	   		confirm_status, 
												'<br/><br/>',
												listing_warn+'</td>',
												'</tr></table>'
									].join('');
								}
								else{
									active_html = [
									       		'<table><tr>',
										  		'<td>{lang_confirm_status_id} '+UID+' ', 
									 	   		confirm_status, 
												'</td></tr></table>'
									].join('');
								}

								$("#message_text").html(active_html);
								$("#dialog-message").dialog({
									title: "{lang_dialog_confirm}",
									modal: true,
									position: {
										my: "center top+80",
										at: "top",
										of: window,
										collision: "none"
									},
									buttons: {
										{lang_button_ok}: function() {
											$( this ).dialog( "close" );
											$("#dialog-message").attr("title", "");
											$.post("ajax.php?action=ajax_change_user_status", { 
												user_id: UID,
												user_active: user_status_new
											}, 
											function(data){
												if(data.error == 0){
													activelink ='';
													status_msg(data.status_msg,focus);
													if (user_status =="yes"){
														$("#alert_user_inactive").hide();	
													}
													else{
														$("#alert_user_inactive").show();
													 }
												}
												if(data.error == 2){
													$("#message_text").html("{lang_admin_status_warning}");
													$("#dialog-message").dialog({
														title: (data.error_msg),
														modal: true,
														buttons: {
															{lang_button_close}: function() {
																$( this ).dialog( "close" );
															}
														}
													}); 
												}				
												if(data.error == 1){
													$("#message_text").html("Error updating user: "+UID);
													$("#dialog-message").dialog({
														title: "ERROR",
														modal: true,
														buttons: {
															{lang_button_close}: function() {
																$( this ).dialog( "close" );
															}
														}
													});
												}
								   			},"json");
										},
										{lang_button_cancel}: function() {
											$("#edit_listing_active").val("");
											$("#user_active").val(user_status_old);
											$( this ).dialog( "close" );
											
										}
									}
								});
								
							}
							$(document).ready(function(){
								$("#user_active").change(
									function() {
										change_user_status({user_id}, ($(this).val()), "{user_isAgent}")
					      			}
					  			);
								//Handle User Listing Active Status Warning.
								if($("#user_active").val() == "no"){
									$("#alert_user_inactive").show();
								}else{
									$("#alert_user_inactive").hide();
								}
							});
						</script>