<div class ="application_main">

	<div class="application_section">
		<div class="application_section_title">{lang_admin_edit_lead_form}</div>
		<div class="application_status_message" id="application_status_message"></div>
		<div class="clear"></div>
	</div>
	<div class="inner_div">
		<div class="inner_div_wrapper">
			{form_template_navbar}
	
			<!-- the tabs --> 
			<div id="tabs">
				<ul id="tabnav"> 
					<li><a id="qed_link" href="{baseurl}/admin/ajax.php?action=edit_form_qed">Quick Editor</a></li> 
		   			<li><a id="spo_link" href="{baseurl}/admin/ajax.php?action=edit_form_preview">Form Preview</a></li> 
		   			<span class="legend">
		   				<span class="legend_item"><span class="req_field">&nbsp;</span> Required</span>
					</span>
		   		</ul>

			</div>
		
		</div>
		
		<div class="clear"></div>
	</div>	
     
</div>	 			