@CHARSET "UTF-8";

/*
.form_div input  {width: 160px !important;}
.form_div select {width: 160px !important;}
.form_div option {width: 160px !important;}
.form_div textarea {width: 160px !important;}
*/

.edit_form_div {
	width: 540px;
}

.select_lead_field_box{
	border-top: 1px;
	border-right:  2px;
	border-bottom: 2px;
	border-left: 1px;
	border-style: solid;
	border-color: #AAAAAA;
	-moz-border-radius:6px;
	-khtml-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	height: 30px;
	float: left;
	width: 100%;
	background: #F2F2F2;
}

.select_lead_field_text {
	float: left;
	padding: 3px;
	font-size: 10pt;
	color: #303030;
}

.lead_form_edit_box {
border-top:1px;
border-right:2px;
border-bottom:2px;
border-left:1px;
-moz-border-radius:6px;
-khtml-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
background:#F2F2F2;
border-color:#AAA;
border-style:solid;
padding: 10px 0px 10px 0px;
}

.lead_form_edit_title {
	padding: 3px;
	font-size: 11pt;
	font-weight: 600;
	color: #303030;
}

.lead_form_edit_button{
margin-left:40%;
}

/* Listing Field Editor Styles */

.user_preview {
border-top:1px;
border-right:2px;
border-bottom:2px;
border-left:1px;
-moz-border-radius:6px;
-khtml-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
border-color:#AAA;
border-style:solid;
background: #e8e8e8;
font-size: 10pt;
width: 700px;
padding: 5px 0px 10px 0px;
}

.user_preview_title {
margin-left: 10px;
font-size: 12pt;
font-weight: 600;
color: #888
}

.form_gen_options {
	padding-bottom: 10px;
}

/*Form Preview Styles */

.required_field{
	background-image: url({template_url}/images/required_field.png);
	background-repeat: no-repeat;
	display: inline;
	padding-left: 10px;
	margin-left: 2px;
	vertical-align: middle;
}

.display_locations_div{
margin: 10px;
}

.col_50 {
width: 50%;
vertical-align:top;
}
.col_100 {
width: 100%;
}
#headline{padding: 5px; }
#top_left {margin: 5px;}
#bottom_left{margin: 5px;}
#top_right {margin: 5px; text-align: left;}
#bottom_right {margin: 5px;}
#center {min-height: 24px;}

#display_locations  {
width: 100%;
border-color: #eee;
border-width: 0px 0px 1px 1px;
border-style: solid;
border-spacing: 0;
}

#display_locations td {
    border-color: #ddd;
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    margin: 0;
   	background-color: #eee;
}

#display_locations input {
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	color: #303030;
	font-size: 9pt;
	width: 160px;
}

#display_locations select {
	border:1px solid #AAAAAA;
	-moz-border-radius:2px;
	-khtml-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background: #FFFFCC;
	font-size: 9pt;
	color: #2f4f4f;
	width: 160px;
}

#display_locations option {
	border:1px solid #AAAAAA;
	-moz-border-radius:2px;
	-khtml-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background: #FFFFCC;
	font-size: 9pt;
	color: #2f4f4f;
	width: 160px;
}

#display_locations textarea {
	border:1px solid #AAAAAA;
	-moz-border-radius:6px;
	-khtml-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background: #FFFFCC;
	color: #303030;
	font-size: 9pt;
	width: 160px;
}
