<div class="user_preview">
	<span class="user_preview_title">Simple preview of Lead Form:</span>		
			<div class="display_locations_div">
						<table id="display_locations">	
							<tr>
								<td class="col_100" colspan="2">
									<div id="headline">
										{headline}
									</div>
								</td>
							</tr>		
							<tr>					
								<td class="col_50">
									<div id="top_left">
										{top_left}
									</div>
								</td>
								<td class="col_50">
									<div id="top_right">
										{top_right}
									</div>
								</td>
							</tr>
							<tr>
								<td class="col_100" colspan="2">
								<div id="center">
										{center}
									</div>
								</td>
							</tr>
							<tr>						
								<td class="col_50">
									<div id="top_left">
										{bottom_left}
									</div>
								</td>
								<td class="col_50">
									<div id="top_right">
										{bottom_right}
									</div>
								</td>
							</tr>
							<tr>
								<td class="col_100" colspan="2">
								<div id="center">
										{misc_hold}
									</div>
								</td>
							</tr>
						</table>
					</div>
					
</div>