<div class="application_main">

   <div class="application_section">
   		<img src="{template_url}/images/icon_large_lead_view.png" alt="{lang_admin_view_leads}" />
			<div class="application_section_title">{lang_admin_lead_manager}</div>
			<div class="application_status_message" id="application_status_message">{application_status_text}</div>
		<div style="clear: both;"></div>
	</div>

	<div class="inner_div">
		<div class="inner_div_wrapper">
		
		<!-- container for tab panes -->
			<div style="
	background: #F4F7FF;
background: -moz-linear-gradient(top, #F4F7FF 0%, #D2D8E0 40%, #C0CEC7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F7FF), color-stop(40%,#D2D8E0), color-stop(100%,#C0CEC7));
background: -webkit-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
background: -o-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
background: -ms-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
background: linear-gradient(to bottom, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#c0cec7',GradientType=0 );
-webkit-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
-moz-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
">
				<div id="lead_filter_status">
					<a href="#" id="lead_filter_active" style="font-weight:bold;" title="{lang_leadmanager_status_active}">{lang_leadmanager_status_active}</a> <span>({lead_active_count})</span> |
 					<a href="#" id="lead_filter_inactive" title="{lang_leadmanager_status_inactive}">{lang_leadmanager_status_inactive}</a> <span>({lead_inactive_count})</span>
				</div>
				<div class="legend" style="float:right;">
			   		<span class="legend_item">
			   			<img src="{template_url}/images/generic_icon_edit.png" title="{lang_edit}" alt="{lang_edit}" width="16" height="16" /> {lang_edit}
			   		</span>
			   		<span class="legend_item">
			   			<img src="{template_url}/images/generic_icon_go.png" title="{lang_view}" alt="{lang_view}" width="16" height="16" /> {lang_view}
			   		</span>
					<span class="legend_item">
			   			<img src="{template_url}/images/generic_icon_delete.png" title="{lang_delete}" alt="{lang_delete}" width="16" height="16" /> {lang_delete}
			   		</span>
				</div>
				<div class="clear"></div>
			</div>

				<div class="lead_dtcontainer">
					<table cellspacing="0" class="display" id="showleads">
						<thead>
							<tr>
							    <th></th>
								<th>{lang_leadmanager_leadname}</th>
								<th>{lang_leadmanager_created}</th>
								<th>{lang_leadmanager_priority}</th>
								<th>{lang_leadmanager_status}</th>
								<th>{lang_leadmanager_agent}</th>
								<th>{lang_leadmanager_actions}</th>
							</tr>
						</thead>
						
						<tbody>
							
						</tbody>
						<!-- 
						<tfoot>
							<tr>
								<th><input type="text" name="search_leadid" value="Search Lead ID" class="search_init" /></th>
								<th><input type="text" name="search_leadname" value="Search Client Name" class="search_init" />{lang_leadmanager_leadname}</th>
								<th><input type="text" name="search_created" value="Search Date Created" class="search_init" />{lang_leadmanager_created}</th>								
								<th><input type="text" name="search_priority" value="Search Priority" class="search_init" />{lang_leadmanager_priority}</th>
								<th><input type="text" name="search_status" value="Search Status" class="search_init" />{lang_leadmanager_status}</th>
								<th><input type="text" name="search_agent" value="Search Agents" class="search_init" />{lang_leadmanager_agent}</th>
								<th>{lang_leadmanager_actions}</th>
							</tr>
						</tfoot>
						 -->
					</table>
				</div>
				<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>