@CHARSET "UTF-8";

.PM_table_main{
	font-family: arial;
	border-collapse: separate;
	background-color: #FAF0E6;
	font-family: arial;
	font-size: 10px;
	padding: 2px;
}
.PM_LargeText {
	font-family: arial;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
}
.PM_MedText {
	font-family: arial;
	font-size: 9pt;
	font-weight: bold;
	color: #000000;
}
.PM_buttonLG A {
	font-family: arial;
    background: silver;
	text-decoration: none;
	text-align: center;
	BORDER-COLOR: #000000;
   	BORDER-STYLE: outset;
 	BORDER-WIDTH: 1px;
	color:#000000;
	width: 85px;
	height: 16px;
	display: block;
}

.PM_buttonLG A:visited{
	color:#000000;
}

.PM_buttonLG A:hover {
	background: #444444;
	color:#ffffff;
   	BORDER-STYLE: inset;
}

.PM_del_button A{
	font-family: arial;
	background: red;
	text-decoration: none;
	text-align: center;
	BORDER-COLOR: #000000;
   	BORDER-STYLE: outset;
 	BORDER-WIDTH: 1px;
	color:#000000;
	width: 75px;
	height: 16px;
	display: block;
}

.PM_del_button A:visited{
	color:#000000;
}

.PM_del_button A:hover {
	background: yellow;
	color: #000000;
   	BORDER-STYLE: inset;
}

.PM_buttonBACK A {
	font-family: arial;
    background: #00ffff;
	text-decoration: none;
	text-align: center;
	BORDER-COLOR: #000000;
   	BORDER-STYLE: outset;
 	BORDER-WIDTH: 1px;
	color:#000000;
	width: 75px;
	height: 16px;
	display: block;
}

.PM_buttonBACK A:visited{
	color:#000000;
}

.PM_buttonBACK A:hover {
	background: #444444;
	color:#aaaaaa;
   	BORDER-STYLE: inset;
}