/* FIELD EDITOR STUFF */

/** NAV BAR **/
.template_editor_navbar {
	background: #e5f5ff; /* Old browsers */
	background: -moz-linear-gradient(top, #e5f5ff 0%, #e0e0e0 38%, #b5c6d0 100%, #f2f6f8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5f5ff), color-stop(38%,#e0e0e0), color-stop(100%,#b5c6d0), color-stop(100%,#f2f6f8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e5f5ff 0%,#e0e0e0 38%,#b5c6d0 100%,#f2f6f8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e5f5ff 0%,#e0e0e0 38%,#b5c6d0 100%,#f2f6f8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e5f5ff 0%,#e0e0e0 38%,#b5c6d0 100%,#f2f6f8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e5f5ff 0%,#e0e0e0 38%,#b5c6d0 100%,#f2f6f8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5f5ff', endColorstr='#f2f6f8',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	border-top:1px solid #ccc;
	margin:0 auto;
	padding:5px 10px;
	font-size: 1.2em;
}

.template_editor_navbar a {
	text-align:right;
	text-decoration:none;
}

.template_editor_navbar_form {
	padding: 4px 4px;
	font-size: 1.2em;
}


#add_field_link {
	font-size: inherit;
	float: right;
}

/** LISTING, AGENT, AND MEMBER FIELD EDITOR BLOCKS AND LI's **/
.display_location, #search_page_order, #search_result_order, #user_page_order {
	border: 1px solid gray;
	background: #ffe;
	display: block;
	margin: 5px;
	padding: 5px;
}

.display_location li, #search_page_order li, #search_result_order li, #user_page_order li {
	list-style-type: none;
	margin: 0px;
	padding: 2px;
	width: 360px;
	cursor:pointer;
}

.block {
	cursor: move;
	border: 1px solid #036fff;
	background: #eee;
	padding: 0px;
	margin: 0px;
	-moz-border-radius:8px;
	-khtml-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius: 8px;
	padding:1px 1px 2px 0px;
}

.block a {
	font-size: 9pt;
	margin: 0px;
	/*margin-left: -2px; */
	text-decoration: none;
	border-right: 1px solid #036fff;
	/*border-left: 1px solid #036fff; */
	-moz-border-radius:8px;
	-khtml-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	padding: 2px 10px 2px 10px;
	background: url('{template_url}/images/blue_gradient.png');
}

.block a:hover {
	text-decoration: none;
	color: #222;
	-moz-border-radius:8px;
	-khtml-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	background: yellow;
	border-color:#4666ff;
}

.req_field {
	background: url({template_url}/images/required_field.png);
	margin: 0px;
	padding: 0px;
	width: 10px;
	height: 10px;
	float: right;
	margin-right: 5px;
	margin-top: 2px;
	cursor: default;
}

.sortable-number {
	float: right;
	padding: 1px 4px 0px 0px;
	font-size: 8pt;
}

.src_field {
	background: url({template_url}/images/searchable.png);
	margin: 0px;
	padding: 0px;
	width: 10px;
	height: 10px;
	float: right;
	margin-right: 5px;
	margin-top: 2px;
	cursor: default;
}

.fill {
	margin: 0px;
	padding: 0px;
	width: 10px;
	height: 10px;
	float: right;
	margin-right: 5px;
	margin-top: 2px;
}


/** DISPLAY LOCATIONS **/
.headline {
	margin-top:0px;
}

.top_left, .top_right, .bottom_left, .bottom_right  {
	float:left;
	width:49%;
	text-align: left;
	margin-top:10px;
	border: 1px solid #0ff;
	margin-bottom: 10px;
}

.center, .center_box {
	clear: both;
}

.feature1, .feature2 {
}

.headline, .center, .center_box, .feature1, .feature2 {
	border: 1px solid #0ff;
	text-align: left;
	margin-top:10px;
	width: 98%;
}


/** AGENT AND MEMBER ADD & EDIT FORM FIELDS **/
#user_field_table {
	width: 100%;
}

.templateEditorHead {
	width: 50%;
	font-size: 1.1em;
}

#update_field input[type="text"], #update_field select, #update_field textarea, #edit_field_list {
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	color: #303030;
	margin: 2px;
	/* padding: 1px 1px; */
}

#update_field input[type="text"], #update_field textarea {
	width: 160px;
}

#update_field input[type='text']:focus, #update_field textarea:focus  {
	outline: none; /*webkit fix*/
	background-color: #fff;
	border: 1px solid #236B8E;
}

#edit_field_list {
	min-width: 190px;
	font-size: 1em;
}



#update_field select:focus {
	outline: none; /*webkit fix*/
	background-color: #fff;
}

#update_field input[type="checkbox"]{
	background-color: #FFFFCC;
	width: auto;
}

#update_field input[name="tool_tip"] {
		width: 250px;
}

#update_field input[name="rank"], #update_field input[name="search_rank"],
#update_field input[name="field_length"], #update_field input[name="search_result_rank"] {
	width: 40px;
}


.edit_field_pane {
	min-height: 400px;
}

.edit_field_div {
	min-width: 580px;
}

.legend{
	float:right;
}

.legend_item{
	text-align:right;
	float:left;
}

.legend_item > span{
	margin-left:5px;
}