<div id="inner_image_page">
	{image_upload_block}
	<div>
		<a href="#" class="or_std_button" id="image_upload_link">{lang_upload_a_picture}</a>
	</div>
	<div class="filedrag"  id="leifiledrag">or drop files here</div> 
	{/image_upload_block}

	<ul id="image_sort_list">
	{image_block}
	<li id="mediaOrder_{image_id}">
		<div class="move_image_container">
			<img src="{template_url}/images/generic_icon_move.png" alt="Move" class="move_handle" width="12px" />
			<br />
			<a id="image_{image_id}" href="#" class="edit_image_link">
			<img src="{image_thumb_src}" height="{thumb_height}" class="media_widget_thumb"/></a>
			<br />
			<strong>{image_caption}</strong>
		</div>
	</li>
	{/image_block}
	</ul>
	<div class="space_5"></div>
	<div> <a href="#" class="or_std_button red" id="image_delete_all">{lang_media_delete_all_photos}</a></div>
</div>

<script type="text/javascript">
	$("#image_sort_list").sortable({
		start: function(event, ui) {
			$(".result").text("");
		},
		tolerance: "pointer",
		handle: ".move_handle",
		revert: true,
		scroll: false,
		opacity: 0.9,
		update: function(event, ui) {
			var order = $('#image_sort_list').sortable('toArray');
			$.post("ajax.php?action=ajax_save_media_order", { media_type: "listingsimages",parent_id:"{listing_id}", 'mediaOrder[]': order },
			function(data){
				if(data.error == "1"){
					status_error(data.error_msg);
				}
				else{
					status_msg("{lang_generic_saved_text}");
				}
			},"json");
		}
	});
	$("#image_delete_all").click(function() {
		if (confirm("{lang_media_delete_all_photos_confirm}")) { 
			$.getJSON("ajax.php?action=ajax_delete_all&media_object_id=*&media_type=listingsimages&media_parent_id={listing_id}",
			function(data){
				if(data.error == "1"){
					alert(data.error_msg);
				}
				$("#listing_image_pane").load("{baseurl}/admin/ajax.php?action=ajax_display_listing_images&listing_id={listing_id}");
			});
		}
		return false;
	});
	$("#image_upload_link").click(function() {
		$("#dialog-message").dialog({
			title: "{lang_upload_images}",
			modal: true,
			width: "auto",
			buttons: null,
			position: {
				my: "center top+10",
				at: "top",
				of: window,
				collision: "none"
			},
			close: function(event, ui) {
				$("#message_text").empty();
				$("#dialog-message").dialog( "destroy" );
	    		$("#listing_image_pane").load("{baseurl}/admin/ajax.php?action=ajax_display_listing_images&listing_id={listing_id}");
			}
		});
		$("#message_text").load("ajax.php?action=ajax_display_upload_media&edit={listing_id}&media_type=listingsimages");


		return false;
	});
	$(".edit_image_link").click(function() {
		var image_id =  $(this).attr("id");
		image_id = image_id.replace("image_","");
		$.getJSON("ajax.php?action=ajax_get_media_info&media_id="+image_id+"&media_type=listingsimages",
		function(data){
			if(data.error == "1"){
				alert(data.error_msg);
			}
			else{
				if (data.file_name.length >77) {
					data.file_name = data.file_name.substring(0,77)+'...';
				}
				$("#media_id_holder").val(image_id);
				$("#media_type_holder").val("listingsimages");
				$("#edit_media_file_name").text(data.file_name);
				$("#edit_media_thumb_tag").show();
				$("#edit_media_full_tag").show();
				$("#edit_media_thumbnail_caption").show();
				$("#edit_media_thumb_tag").attr("src",data.media_thumb_src);
				$("#edit_media_thumb_tag").attr("width",data.thumb_width);
				$("#edit_media_thumb_tag").attr("height",data.thumb_height);
				$("#edit_media_full_tag").attr("src",data.media_full_src);

				$("#edit_media_caption").val(data.media_caption);
				$("#edit_media_description").val(data.media_description);

				$("#edit_listing_image_container").dialog({
					title: "Edit Media - "+data.media_file_size+" ("+data.media_file_width+" X "+data.media_file_height+")",
					modal: true,
					width: "auto",
					height: "auto",
					buttons: null,
					position: {
						my: "center top+10",
						at: "top",
						of: window,
						collision: "none"
					},
					close: function(event, ui) {
						$("#edit_listing_image_container").dialog( "destroy" ); 
						$("#listing_image_pane").load("{baseurl}/admin/ajax.php?action=ajax_display_listing_images&listing_id={listing_id}"); 
					}
				});
			}
		});
		
 		return false;

	});
	$('#leifiledrag').filedrop({
	    url: 'ajax.php?action=ajax_upload_media_JSON',              // upload handler, handles each file separately
	    paramname: 'userfile[]',          // POST parameter name used on serverside to reference file
	    data: {
	        edit: '{listing_id}',           // send POST variables
	        media_type: 'listingsimages',
	    },
	    maxfilesize: 25,
	    error: function(err, file) {
	        switch(err) {
	            case 'BrowserNotSupported':
	            	alert('{lang_browser_unsupported}');
	                break;
	            case 'TooManyFiles':
	                // user uploaded more than 'maxfiles'
	                break;
	            case 'FileTooLarge':
	                // program encountered a file whose size is greater than 'maxfilesize'
	                // FileTooLarge also has access to the file which was too large
	                // use file.name to reference the filename of the culprit file
	               alert('File to large');
	                break;
	            default:
	                break;
	        }
	    },
	    uploadFinished: function(i, file, response, time) {
	    	$(".fileuploadmeter > span").width('100%');
	    	if(response.status != 'File(s) Uploaded Successfully'){
	    		alert(response.status);
	    	}
	    },
	    uploadStarted: function(i, file, len){
	    	ShowUploadStatus();
	    	$(".fileuploadmeter > span").width(0);
	    },
	    progressUpdated: function(i, file, progress) {
	    	$(".fileuploadmeter > span").width(progress);
		},
	    afterAll: function() {
	    	HideUploadStatus();
	    	// runs after all files have been uploaded or otherwise dealt with
	    	status_msg("{lang_generic_saved_text}");
	    	$("#listing_image_pane").load("{baseurl}/admin/ajax.php?action=ajax_display_listing_images&listing_id={listing_id}");
	    	
	    }
	});
</script>