<div id="application_status_message" class="post_id_text">{application_status_text}</div>

<div class ="application_main">

	<div class="application_section_title">{lang_listing_editor}</div>
	
	<div class="inner_div">
	
		{listing_template_navbar}
		
		<!-- the tabs --> 
		<ul class="css-tabs"> 
			<li><a id="qed_link" href="{baseurl}/admin/index.php?action=edit_listing_template">Quick Editor</a></li> 
   			<li><a id="spo_link" href="{baseurl}/admin/index.php?action=edit_listing_spo">Search Page Order</a></li> 
   			<li><a id="sro_link" href="{baseurl}/admin/index.php?action=edit_listing_sro">Search Results Order</a></li> 
		</ul> 
 
		<!-- begin css-panes -->  
		<div class="css-panes">
			 
			<!-- begin first tab contents --> 
			
	
			<div style="display:block"></div> 
		
		</div>
		
	</div>	
     
</div>


