<div class ="application_main">

	<div class="application_section">
		<div class="application_section_title">{lang_admin_edit_listing_template}</div>
		<div class="application_status_message" id="application_status_message"></div>
		<div class="clear"></div>
	</div>
	<div class="inner_div">
		<div class="inner_div_wrapper">
			{listing_template_navbar}

			<!-- the tabs --> 
			<div id="tabs">
				<ul id="tabnav"> 
					<li><a id="qed_link" href="{baseurl}/admin/ajax.php?action=edit_listing_template_qed">Quick Editor</a></li> 
		   			<li><a id="spo_link" href="{baseurl}/admin/ajax.php?action=edit_listing_template_spo">Search Page Order</a></li> 
		   			<li><a id="sro_link" href="{baseurl}/admin/ajax.php?action=edit_listing_template_sro">Search Results Order</a></li> 
		   			<span class="legend">
		   				<span class="legend_item"><span class="req_field">&nbsp;</span> Required</span>
						<span class="legend_item"><span class="src_field">&nbsp;</span> Searchable</span>
					</span>
				</ul>
				

			</div>
		</div>
		
		<div class="clear"></div>
	</div>	
     
</div>	 				