<div id="media_upload_container">

	<div id="mini-tabs">
		<ul>
			<li>
				<a href="#int_media_upload_pane" class="tabs-link" id="tab_blog_settings_general" title="{lang_upload_file}">{lang_upload_file}</a>
			</li>
			{show_ext_upload_block}
			<li>
				<a href="#ext_media_upload_pane" class="tabs-link" id="tab_blog_settings_categories" title="{lang_link_external_photo}">{lang_link_external_photo}</a>
			</li>
			{/show_ext_upload_block}
		</ul>
		
		<div id="int_media_upload_pane">
			<form enctype="multipart/form-data" id="media_upload_form" action="ajax.php?action=ajax_upload_media" method="post">
	
				<input type="hidden" name="edit" value="{edit_id}" />
				<input type="hidden" name="media_type" value="{media_type}" />
				{media_upload_block}
				<div class="upload_div">
					<strong>{lang_upload_send_this_file}: </strong><input name="userfile[]" type="file" />
				</div>	
				{/media_upload_block}
				
				<div style="text-align: center; margin-top: 10px;">
					<input style="text-align: center; margin-top: 10px;" type="submit" value="{upload_lang_text}" />
				</div>
			</form>
		</div>
		
		{show_ext_upload_block}
		<div id="ext_media_upload_pane">
			<form id="media_ext_upload_form" action="ajax.php?action=ajax_upload_media" method="post">
		
				<input type="hidden" name="edit" value="{edit_id}" />
				<input type="hidden" name="media_type" value="{media_type}" />
					
				{media_ext_link_block}
				<div class="upload_div">
					<strong>{lang_link_to_this_file}: </strong><input name="extlink[]" type="text" class="validate url" />
				</div>	
				{/media_ext_link_block}
				
				<div style="text-align: center; margin-top: 10px;">
					<input  type="submit" value="{upload_lang_text}" />
				</div>
		</div>
		{/show_ext_upload_block}
		
	</div>	
	
</div>

<script type="text/javascript">
	$( "#mini-tabs" ).uitabs({
	});
	$(".tabs-link").click(function(){

	});
	
	$('#media_upload_form').ajaxForm({ 
		success: function(data) { 
			$("#dialog-message").dialog( "close" );
			status_msg(data);
		}
	});
	$("#media_ext_upload_form").validate({
		meta: "validate",
		submitHandler: function(form) {
			$.post("ajax.php?action=ajax_upload_media", $("#media_ext_upload_form").serialize(),
				function(data){
					$("#dialog-message").dialog( "close" );
					status_msg(data);
				}
			);
			return false;
		}
	});	
</script>