@CHARSET "UTF-8";

.media_widget_thumb {
	max-width: 110px;
}

.centerit {
	text-align: center;
}
#image_upload_container{
	padding:10px;
}

#edit_media_file_name{
	font-size: .8em;
	font-weight:bold;
	display: block;
	text-align: center;
	width: 100%;
	border: 1px solid #ccc;
	padding: 2px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	background: #f4faff; /* Old browsers */
	background: -moz-linear-gradient(top, #f4faff 0%, #f2f2f2 58%, #e2e2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4faff), color-stop(58%,#f2f2f2), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4faff 0%,#f2f2f2 58%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4faff 0%,#f2f2f2 58%,#e2e2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4faff 0%,#f2f2f2 58%,#e2e2e2 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4faff', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}

#edit_media_full_tag {
	max-height:300px;
	max-width: 450px;
	margin: 0px;
	padding: 0px;
	margin-left: auto;
    margin-right: auto;
    text-align:center;
    display:block;
}


#edit_media_thumb_tag {

}

#edit_media_thumbnail_caption {
	display: block;
}

.edit_media_caption_div {
	float: left;
	text-align:
	right; display:
	block;
	width: 95px;
	margin-top: 4px;
	font-size: 10pt;
	font-weight: bold;
}
#edit_media_caption, #edit_media_description {
	width: 200px;
	margin-bottom: 4px;
	padding: 2px;

	background: #FFFFCC;
	color: #303030;
	font-size: 9pt;
	margin: 1px;
}

#edit_media_caption:focus, #edit_media_description:focus  {
	background-color: #fff;
	border: 1px solid #236B8E;
}

.edit_media_input {
	float: left;
	margin-left: 10px;
}
#edit_media_description {
 height: 72px;
}

/* CSS For Image Sorting */
#image_sort_list{
	display: block;
	margin: 5px;
	padding: 0px;
	padding-left:auto;
	padding-right:auto;
}
#image_sort_list li {
	list-style-type: none;
	border: 1px solid #777777;
	background: #ffe;
	margin-left: 0px;
	margin-top:3px;
	padding: 5px 0px 5px 0px;
}
.move_handle{
	color:#000000;
	margin-top:-3px;
	margin-right:2px;
	float:right;
	cursor:move;
}
.move_image_container{
	width:100%;
	text-align:center;
}

/* CSS For all file page display area */
#inner_image_page, #inner_vtour_page,  #inner_file_page{
	text-align:center;
	padding: 8px 0px;
	margin-bottom:5px;
}

/* CSS For Vtour Sorting */
#vtour_sort_list{
	display: block;
	margin: 5px;
	padding: 0px;
	padding-left:auto;
	padding-right:auto;
}

#vtour_sort_list li {
	list-style-type: none;
	border: 1px solid #777777;
	background: #ffe;
	margin-left: 0px;
	margin-top:3px;
	padding: 5px 0px 5px 0px;
}

.move_vtour_container{
	width:100%;
	text-align:center;
}

/* CSS For File Sorting */
#file_sort_list{
	display: block;
	margin: 5px;
	padding: 0px;
	padding-left:auto;
	padding-right:auto;
}

#file_sort_list li {
	list-style-type: none;
	border: 1px solid #777777;
	background: #ffe;
	margin-left: 0px;
	margin-top:3px;
	padding: 5px 0px 5px 0px;
}

.move_file_container{
	width:100%;
	text-align:center;
}

.file_name_display{
	font-size:7pt;
}

#edit_media_form{
	padding: 10px;
}

.filedrag{
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}
.filedrag.hover{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}
.download_file {
	color: black;
	margin-top: -3px;
	margin-left: 2px;
	float: left;
	cursor:pointer;
}

#media_upload_container {
	min-width: 500px;
	padding: 10px;'
}

#int_media_upload_pane, ext_media_upload_pane {
	padding: 14px;
}

#int_media_upload_pane div, ext_media_upload_pane div {
	padding: 4px;
}

.upload_div {
	padding: 4px;
	border-bottom: 1px solid #666;
}
#media_upload_container input[type="text"] {
	min-width: 280px;
}

