@CHARSET "UTF-8";

.menu_rounded_box_container {
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: #F2F2F2;
	padding: 1px;
	border: 1px solid #ccc;
	-webkit-box-shadow: 1px 1px #aaa;
	box-shadow: 1px 1px #aaa;
}

.menu_rounded_box_title {
	background: #FEFFFF;
	background: -moz-linear-gradient(top, #FEFFFF 0%, #DDF1F9 35%, #E5E5E5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFFFF), color-stop(35%,#DDF1F9), color-stop(100%,#E5E5E5));
	background: -webkit-linear-gradient(top, #FEFFFF 0%,#DDF1F9 35%,#E5E5E5 100%);
	background: -o-linear-gradient(top, #FEFFFF 0%,#DDF1F9 35%,#E5E5E5 100%);
	background: -ms-linear-gradient(top, #FEFFFF 0%,#DDF1F9 35%,#E5E5E5 100%);
	background: linear-gradient(top, #FEFFFF 0%,#DDF1F9 35%,#E5E5E5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#e5e5e5',GradientType=0 );
	font-weight: bold;
	font-size: 12pt;
	text-align: center;
	margin: 0;
	padding: 3px;
	color: #333;
	text-shadow: 1px 1px 1px #ffffff;
}

#manage_menu {
	padding: 6px;
	background: #ffe;
	min-height: 510px;
	font-size: 1.2em;
}

#manage_menu form {
	border: 1px solid #ddd;
	padding: 5px;
}

#menu_new_delete {
	text-align: center;
	margin-top: 10px;
	padding: 10px;
}

#menu_editor_jstree_container {
	padding: 6px;
	background: #ffe;
}

#item_detail_form {
	font-size: 1.2em;
}

#item_detail_form fieldset {
	border: 1px solid #ddd;
	background-color: inherit;
	-webkit-box-shadow: 1px 1px #aaa;
	box-shadow: 1px 1px #aaa;

}

#item_detail_form legend {
	color: #000;
	font-weight: 500;
	font-size: 11pt;
	background-color: #fef;
	padding: 2px 8px;
	border: 1px solid #ddd;
	-webkit-box-shadow: 1px 1px #aaa;
	box-shadow: 1px 1px #aaa;
}


#add_menu_form, #add_item_form {
	padding: 10px 4px;
}

#add_menu_form input[type="text"], #add_item_form input[type="text"] {
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	color: #303030;
	margin: 1px;
}

#add_menu_form input[type="text"]:focus, #add_item_form input[type="text"]:focus  {
	outline: none; /*webkit fix*/
	background-color: #fff;
	border: 1px solid #236B8E;
}


#menu_form  select {
	background-color: #fff;
	border: 1px solid #ddd;
	width: 120px;
	height: 27px;
	font-size: 1em;
	padding: 2px;
	font-weight: 500;
}

#menu_form  option {
	font-size: 1.1em;
}


#menu_form {
	text-align: center;
}



#menu_editor_detail_container {
	padding: 6px;
	background: #ffe;
}

#menu_editor_detail_container input,#menu_editor_detail_container select, #item_detail_form fieldset {
	margin: 10px 0px;
}

#menu_editor_detail_container input[type='text']:focus, #menu_editor_detail_container select:focus {
	outline: none; /*webkit fix*/
	background-color: #fafafa;
	border: 1px solid #999;
	webkit-box-shadow: 1px 1px 1px 2px #eeeeee;
	box-shadow: 1px 1px 1px 2px #eeeeee;
}

#menu_editor_detail_container input[type='text'] {
	border: 1px solid #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 1px 1px #bbbbbb;
	box-shadow: inset 1px 1px #bbbbbb;
	padding: 5px;
	background-color: #fff;
	min-width: 280px;
	color: #000;
	font-size: 1em;
	font-weight: 500;
	line-height: 1.1em;
}

#item_value_container {

}

#menu_editor_detail_container select {
	background-color: #fff;
	border: 1px solid #ddd;
	min-width: 200px;
	height: 27px;
	font-size: 1em;
	padding: 2px;
	font-weight: 500;
}
#menu_editor_detail_container  option {
	font-size: 1em;
	min-width: 280px;
}

#menu_save_div {
	text-align: center;
	margin: 5px 0px;
}
li.jstree-open >a ins{  background:url("{baseurl}/images/menu_editor_sprite.png") 0px -32px no-repeat !important; width:16px; height:16px; }
li.jstree-open[rel=root]>a ins{  background:url("{baseurl}/images/menu_editor_sprite.png") 0px 0px no-repeat !important; }
li.jstree-open[rel=divider]>a ins{  background:url("{baseurl}/images/menu_editor_sprite.png") 0px -16px no-repeat !important; }
li.jstree-open[rel=block]>a ins{  background:url("{baseurl}/images/menu_editor_sprite.png") 0px -48px no-repeat !important; }
.menu_item_invisible { opacity: 0.7;}


.menu_root_icon {
	background: url('{baseurl}/images/menu_editor_sprite.png') 0px 0px no-repeat !important; width:16px !important;; height:16px !important;; display: inline-block;
}
.menu_root_block {
	background: url('{baseurl}/images/menu_editor_sprite.png') 0px -48px no-repeat !important; width:16px !important;; height:16px !important;; display: inline-block;
}
.menu_root_divider {
	background: url('{baseurl}/images/menu_editor_sprite.png') 0px -16px no-repeat !important; width:16px !important;; height:16px !important;; display: inline-block;
}
.menu_root_default {
	background: url('{baseurl}/images/menu_editor_sprite.png') 0px -32px no-repeat !important; width:16px !important;; height:16px !important;; display: inline-block;
}