<!-- START NEXT-PREV TEMPLATE -->

<div style="
margin 0px; background: #f4f7ff; 
background: -moz-linear-gradient(top,  #f4f7ff 0%, #d2d8e0 40%, #c0cec7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f7ff), color-stop(40%,#d2d8e0), color-stop(100%,#c0cec7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#c0cec7',GradientType=0 ); /* IE6-9 */
">

	<div style="margin: 0px 5px;">
	
		<div style="float: left;">
			{nextprev_num_of_rows_is_1_block}
				<span class="browse_tool">{lang_there_is_currently}<strong>{nextprev_num_rows}&nbsp;</strong></span>{nextprev_page_type}.
			{/nextprev_num_of_rows_is_1_block}
			{!nextprev_num_of_rows_is_1_block}
				<span class="browse_tool_num"><strong>{nextprev_num_rows}&nbsp;</strong></span>{nextprev_meet_your_search}
			{/!nextprev_num_of_rows_is_1_block}
			<br />
			<span class="langviewing">{lang_viewing}</span> <span class="browse_tool_num"><strong>{nextprev_listing_num_min} - {nextprev_listing_num_max}</strong></span>
			
		</div>
		
		<div style="float: left; margin: 1px 9px 0px;">
			<table cellpadding="0" cellspacing="1" border="0" style="
background: #f4f7ff; 
background: -moz-linear-gradient(top, #f4f7ff 0%, #d2d8e0 40%, #c0cec7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f7ff), color-stop(40%,#d2d8e0), color-stop(100%,#c0cec7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* IE10+ */
background: linear-gradient(to bottom, #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#c0cec7',GradientType=0 ); /* IE6-9 */

padding: 2px 4px; 
 ">
				<tr>
                    <td>
					{nextprev_is_firstpage_block}
					<td class="bt_pages_ghost">
						<span class="bt_pages_ghost">&lt;&lt;</span>
					</td>
					{/nextprev_is_firstpage_block}
					{!nextprev_is_firstpage_block}
					<td class="bt_pages bt_pages_firstpage">
						<a href="index.php?cur_page={nextprev_prevpage}{nextprev_guidestring}" class="bt_pages">&lt;&lt;</a>
					</td>
					
					{/!nextprev_is_firstpage_block}
					{nextprev_page_section}
					{nextprev_page_current_block}
					<td class ="browse_tool_curpage" >
						{nextprev_disp_count}
					</td>
					{/nextprev_page_current_block}
					{nextprev_page_other_block}
					<td class="bt_pages" >
						<a href="index.php?cur_page={nextprev_count}{nextprev_guidestring}" class="bt_pages">{nextprev_disp_count}</a>
					</td>
					{/nextprev_page_other_block}
					{/nextprev_page_section}
					{nextprev_lastpage_block}
					<td class="bt_pages_ghost" >
						<span class="bt_pages_ghost">&gt;&gt;</span>
					</td>
					{/nextprev_lastpage_block}
					{!nextprev_lastpage_block}
					<td class="bt_pages  bt_pages_lastpage">
						<a href="index.php?cur_page={nextprev_nextpage}{nextprev_guidestring}" class="bt_pages">&gt;&gt;</a>
					</td>
					{/!nextprev_lastpage_block}
					</td>
				</tr>
			</table>
		</div>

		<div style="float: right; margin-top: 7px;">
       		<span class="browse_tool_button">
				{nextprev_prev_100_button_block}
					<a href="index.php?cur_page={nextprev_prev10page}{nextprev_guidestring}" class="previous100">{lang_previous_100}</a>
				{/nextprev_prev_100_button_block}
				{!nextprev_prev_100_button_block}
					<span class="browse_tool_ghost">{lang_previous_100}</span>
				{/!nextprev_prev_100_button_block}
			</span>
			<span class="browse_tool_button" >
				{nextprev_next_100_button_block}
				<a href="index.php?cur_page={nextprev_next10page}{nextprev_guidestring}" class="next100">{lang_next_100}</a>
				{/nextprev_next_100_button_block}
				{!nextprev_next_100_button_block}
				<span class="browse_tool_ghost">{lang_next_100}</span>
				{/!nextprev_next_100_button_block}
			</span>
       	</div>
       	
       	<div class="clear"></div>
	</div>

</div>
<!-- END NEXT-PREV TEMPLATE  -->