<div class ="application_main">
	 <div class="application_section">
		 <img src="{template_url}/images/large_icon_page_editor.png" alt="{lang_admin_page_editor}" />
		<div class="application_section_title">
			{lang_admin_page_editor}
		</div>
		<div class="application_status_message" id="application_status_message">{application_status_text}</div>
		<span class="application_section_info">{lang_page_editor_modify_page} - {page_id}</span>
		<div style="clear: both;"></div>
	</div>
	
	<div class="inner_div">
		<div class="inner_div_wrapper">
		  
	    	<div class="page_edit_section">
	    	
				<form action="{page_edit_action}" method="post" id="page_edit_form" name="edit">
					<div>
						<input type="hidden" name="edit" value="yes" />
						<input type="hidden" id="pageID" name="pageID" value="{page_id}" />
					
						<div id="post_actions">
							<div id="page_top_div">
							
								<div class="label">{lang_page_title}:</div> 
								
							
								<div id="page_button_div">
									<div style="float: left; margin: 0px 10px 0px 0px;">
										<form action="#" method="post">
											{lang_page_status}: 
											<select id="page_status_value">
												{page_status_option_block}
											<option value="{page_status_value}" {page_status_selected}>{page_status_text}</option>
												{/page_status_option_block}
											</select>
										</form>
									</div>
								
									<!-- Revert Button -->
									<div id="page_revert_button" class="or_std_button" title="{listing_url}" style="{page_revert_button_state}" >
										<img src="{template_url}/images/undo_16.png" style="vertical-align: bottom; padding: 0px 6px 0px 0px;"/>
										<span style="">{lang_revert_changes}</span>
									</div>

									<!-- Save Button -->
									{page_update_block}
										<div class="or_std_button" id="page_update_button">{lang_page_update_post}</div>	
									{/page_update_block}

									<!-- Delete Button -->
									{page_delete_block}
										<div class="or_std_button red" id="page_delete_button">{lang_delete_page}</div>		
									{/page_delete_block}
								</div>
								<div class="clear"></div>
							
							</div>	
							<input type="text"  name="title" value="" id="page_edit_title" class="page_edit_input {validate{required:true}}" />
							<div class="space_5"></div>
						</div>
			
						<div id="edit_page_post_editor">
							<textarea name="ta" id="ta" style="margin: 0px;"></textarea>
						</div>	
						<div class="clear"></div>
						
						<div id="page_stats">
							<div id="word_count_text">{lang_word_count}: <span id="word_count"></span></div>  
					
							<div style="padding: 2px;"> 
								<span class="link_label">{lang_template_tag_for_page}: </span><input class="page_tag" type="text" value="&#123;page_link_{page_id}&#125;" readonly>
								<br />
								<span class="link_label">{lang_link_to_page}: </span><span class="page_link"><a href="{page_article_url}" title="">{page_article_url}</a></span>
							</div>
						</div>
						
						<div class="application_rounded_box">
							<div class="application_rounded_box_title">{lang_page_seo}</div>
							<div style="padding: 0px 6px;">
								<span class="label">{lang_page_seo_title}:</span> <input type="text" id="seotitle" name="seotitle" class="page_edit_input" value="" />
								<br />
								<span class="label">{lang_page_meta_description}:</span> <input type="text" id="metadata_description" name="description" class="page_edit_input" value="" />
								<br />
								<span class="label">{lang_page_meta_keywords}:</span> <input type="text" id="metadata_keywords" name="keywords" class="page_edit_input" value="" />
								<div class="clear"></div>
							</div>	
							<div class="space_5"></div>
						</div>
						
					</div>
				</form>

			</div>
		</div>
			
		<div class="clear"></div>
	</div>
</div>
