/* page Styling */

.page_edit_index_table {
	border-left:1px solid #AAAAAA;
	border-collapse: collapse;
	clear: both;
	margin: 0 0 5px 0; width:100%;
	-webkit-box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.75);
	-moz-box-shadow:    1px 1px 1px rgba(1, 0, 0, 0.75);
	box-shadow:         1px 1px 1px rgba(1, 0, 0, 0.75);
	background: #fff;
}

.page_edit_index_table * {
	word-wrap: break-word;
}

.page_edit_index_table thead, .page_edit_index_table tfoot {
	background: #F4F7FF;
	background: -moz-linear-gradient(top, #F4F7FF 0%, #D2D8E0 40%, #C0CEC7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F7FF), color-stop(40%,#D2D8E0), color-stop(100%,#C0CEC7));
	background: -webkit-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: -o-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: -ms-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: linear-gradient(to bottom, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#c0cec7',GradientType=0 );
}

.page__edit_index_table th {
	font-size: 9pt;
	text-shadow: 1px 1px 1px white;
}
.page_edit_index_table th, .page_edit_index_table td {
	border:1px solid #AAAAAA;
	padding: 6px 3px;
	overflow: hidden;
	text-align:center;
}

.page_edit_index_table tr:hover {
	background: #e5f5ff; /* Old browsers */
	background: -moz-linear-gradient(top, #e5f5ff 0%, #e0e0e0 38%, #b5c6d0 100%, #f2f6f8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5f5ff), color-stop(38%,#e0e0e0), color-stop(100%,#b5c6d0), color-stop(100%,#f2f6f8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e5f5ff 0%,#e0e0e0 38%,#b5c6d0 100%,#f2f6f8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e5f5ff 0%,#e0e0e0 38%,#b5c6d0 100%,#f2f6f8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e5f5ff 0%,#e0e0e0 38%,#b5c6d0 100%,#f2f6f8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e5f5ff 0%,#e0e0e0 38%,#b5c6d0 100%,#f2f6f8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5f5ff', endColorstr='#f2f6f8',GradientType=0 ); /* IE6-9 */
}

.page_edit_index_table td:first-child {
	text-align: left;
}

#page_edit_index_status_list {
	display: block;
	float: left;
	padding: 5px;
}

.page_edit_index_table a, #page_edit_index_status_list a {
	color: #1464F4;
	text-decoration: none;
	text-shadow: 1px 1px 1px white;
}

.page_edit_index_table img {
	vertical-align: text-bottom;
}

#page_edit_index_next_prev {
	float:right;
	display: block
}

.page_next_prev_first a, .page_next_prev_last a {
	color: #1464F4;
	text-shadow: 1px 1px 1px white;
}

.page_next_prev_first a:hover, .page_next_prev_last a:hover {
	color: #fff;
	text-shadow: 1px 1px 1px black;
}

.page_next_prev_curpage {
	color: #fff;
}

.page_next_prev_ghost {
	color: #aaa;
}

#response_text {
	display: block;
	font-size: 10pt;
}

#add_post_form {
	display: block;
	padding-left: 35%;
}

#post_title{
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	color: #303030;
	width: 180px;
	padding: 2px;
	font-size: 1em;
	font-weight: bold;
}

#post_title:focus, input.page_edit_input:focus, input.page_edit_input:focus {
	outline: none; /*webkit fix*/
	background: #fff;
	border: 1px solid #236B8E;
}

.page_edit_index_status_list_count {
	color:#036;
	text-shadow: 1px 1px 1px white;
}

input.page_edit_input  {
	width: 99%;
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	padding-left: 4px;
	padding-right: 4px;
	color: #303030;
	font-size: 12pt;
}

#edit_page_post_editor {
	width: 100%;
	margin: 0px;
	padding: 0px;
	clear:right;
	float:left;
	-webkit-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
}


/*page editor page*/


.page_editor_right{
	float:left;
	width:220px;
	margin-left:-220px;
}

#word_count_text {
	color: #666666;
}

#word_count {
	font-weight: bold;
	color: #000;
}

.link_label {
	font-weight:bold;
	font-size: 10pt;
	color: #666666;
}

.page_tag {
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	margin: 1px;
	width: 80px;;
	padding: 2px 4px;
	font-size: 8pt;
	color: #036;
}
.page_link {
	font-size: 8pt;
	color: #000000;
}

.page_link A {
	color: #0000EE;
}


#page_edit_title{
	font-size:14pt;
}

.page_status_row{
	text-align: center;
	font-size: 11pt;
	width: 100%;
}

#page_top_div {
	padding: 6px 0px;
	font-size: 1.2em;
}


#page_status_value {
	border 1px solid #A3A3A3;
	background: #FFFFCC;
	font-size: 1.2em;
}


#post_actions {
	border-top: 1px solid #ddd;
	background: #F4F7FF;
	background: -moz-linear-gradient(top, #F4F7FF 0%, #D2D8E0 40%, #C0CEC7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F7FF), color-stop(40%,#D2D8E0), color-stop(100%,#C0CEC7));
	background: -webkit-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: -o-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: -ms-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: linear-gradient(to bottom, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#c0cec7',GradientType=0 );
	-webkit-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	padding: 0px 5px;
}

#page_stats {
	background: #F4F7FF;
	background: -moz-linear-gradient(top, #F4F7FF 0%, #D2D8E0 40%, #C0CEC7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F7FF), color-stop(40%,#D2D8E0), color-stop(100%,#C0CEC7));
	background: -webkit-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: -o-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: -ms-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: linear-gradient(to bottom, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#c0cec7',GradientType=0 );
	-webkit-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	padding: 0px 5px;
	margin-bottom: 6px;
	padding: 6px;

}


/* BUTTONS */


#page_button_div {
	float: right;
	margin-right: 5px;
	/*font-size: 1.2em;*/
}

#page_update_button {
	float: left;
	margin: 0px 4px;
}

#page_revert_button {
	float: left;
	margin: 0px 8px 0px 0px;
}
#page_delete_button {
	float: right;
	margin: 0px 4px;
}

.label {
	font-weight:700;
	color: #888;
	float: left;
    padding-top: 4px;
    font-size: 1.2em;
}