<div class ="application_main">

	 <div class="application_section">
	 	<img src="{template_url}/images/icon_large_pclass.png" alt="{lang_admin_property_classes}" />
		<div class="application_section_title">{lang_property_class_editor}</div>
		<div class="application_status_message" id="application_status_message">{application_status_text}</div>
		<div style="clear: both;"></div>
	</div>
	
	<div class="inner_div">
		<div class="inner_div_wrapper">
			{content}
		</div>
		
		<div class="clear"></div>
	</div>

</div>

</script>