/* SITE CONFIG WARNINGS
 ============================================================================ */
#warnings {width:100%;}
.warnings_message {color:#FF0000; font-weight:bold; padding:5px 0 5px 0;}
.warnings_nothing {color:#000000; font-weight:normal; padding:5px 0 5px 0;}
#warnings a:link, #warnings a:visited, #warnings a:hover, #warnings a:active {color:#FF0000;}


div.buttons_div {
	border-width:1px;
	border-color:#838b83;
	color: #2f4f4f;
	border-style:solid;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding: 1px 3px 1px 3px;
	text-decoration: none;
	font-size: 10pt;
	text-align:center;
}
div.buttons_div:hover{
	cursor:pointer;
	color: #000000;
	border-color:#000000;
	text-decoration: none;
}
div.seotooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    min-width:250px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;

    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}
.seo_uri{
width:300px;
}
.permanentlink_titles{
	padding-top:10px;
	float:left;
	width:150px;
	font-weight:bold;
}
.permanentlink_titles_urionly{
	float:left;
	width:150px;
	font-weight:bold
}
.permanenetlink_spacer{

margin-bottom:5px;
border-top:1px solid;
}
.permanentlink_sluguri{
margin-left:10px;
float:left;
}
.permanentlink_sluguri > label{
	display:block;
	float:left;
	width:35px;
}