<div>
<form id="site_config_templates" method="post" action="">
<fieldset><legend><strong>{lang_site_config_heading_template_settings}</strong></legend>
<table cellspacing="0" cellpadding="3" width="99%" border="0">
	<tr class=tdshade1>
		<td width="150"><strong>{lang_template}</strong></td>

		<td width="150"><select name="controlpanel_template">
			{template_block}
			<option value="{value}"{selected}>{text}</option>
			{/template_block}
		</select></td>
		<td>{lang_template_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td width="150"><strong>{lang_mobile_template}</strong></td>

		<td width="150"><select name="controlpanel_mobile_template">
			{mobile_template_block}
			<option value="{value}"{selected}>{text}</option>
			{/mobile_template_block}
		</select></td>
		<td>{lang_mobile_template_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_admin_template}</strong></td>

		<td><select name="controlpanel_admin_template">
			{admin_template_block}
			<option value="{value}"{selected}>{text}</option>
			{/admin_template_block}
		</select></td>
		<td>{lang_admin_template_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_listing_template}</strong></td>

		<td><select name="controlpanel_listing_template">
			{listing_template_block}
			<option value="{value}"{selected}>{text}</option>
			{/listing_template_block}
		</select></td>
		<td>{lang_listing_template_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_template_listing_sections}</strong></td>
		<td><input type="text"
			value="{controlpanel_template_listing_sections}"
			name="controlpanel_template_listing_sections" /></td>
		<td>{lang_template_listing_sections_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_template_lead_sections}</strong></td>
		<td><input type="text"
			value="{controlpanel_template_lead_sections}"
			name="controlpanel_template_lead_sections" /></td>
		<td>{lang_template_lead_sections_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_search_result_template}</strong></td>

		<td><select name="controlpanel_search_result_template">
			{search_result_template_block}
			<option value="{value}"{selected}>{text}</option>
			{/search_result_template_block}
		</select></td>
		<td>{lang_search_result_template_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_view_agent_template}</strong></td>

		<td><select name="controlpanel_agent_template">
			{agent_template_block}
			<option value="{value}"{selected}>{text}</option>
			{/agent_template_block}
		</select></td>
		<td>{lang_view_agent_template_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_vtour_template}</strong></td>

		<td><select name="controlpanel_vtour_template">
			{vtour_template_block}
			<option value="{value}"{selected}>{text}</option>
			{/vtour_template_block}
		</select></td>
		<td>{lang_vtour_template_desc}</td>
	</tr>
	<tr class=tdshade2>
		<td><strong>{lang_notify_template}</strong></td>

		<td><select name="controlpanel_notify_listings_template">
			{notify_listings_template_block}
			<option value="{value}"{selected}>{text}</option>
			{/notify_listings_template_block}
		</select></td>
		<td>{lang_notify_template_desc}</td>
	</tr>
	<tr class=tdshade1>
		<td><strong>{lang_contact_template}</strong></td>
		<td><select id="controlpanel_contact_template" name="controlpanel_contact_template">
			{contact_template_block}
			<option value="{value}"{selected}>{text}</option>
			{/contact_template_block}
		</select>
		<br />
		</td>
		<td>{lang_contact_template_desc}</td>
	</tr>
	
</table>
</fieldset>
<input type="submit" class="or_std_button" value="{lang_save_changes}" />
</form>
</div>

<script type="text/javascript">
$("#site_config_templates").validate({
	meta: "validate",
	errorLabelContainer: "#response_text",
	submitHandler: function(form) {
		$.post("ajax.php?action=update_site_config", $("#site_config_templates").serialize(), function(data){
			if(data.error == "1"){
				status_error(data.error_msg);
			}else{
				status_msg(data.status);
			}
		},"json");
		return false;
	}
});
</script>