<div class ="application_main">

   <div class="application_section">
   			<img src="{template_url}/images/icon_large_siteconfig.png" alt="{lang_admin_site_config}" />
			<div class="application_section_title">{lang_admin_site_config}</div>
			<div class="application_status_message" id="application_status_message">{application_status_text}</div>
		<div style="clear: both;"></div>
	</div>

	<div class="inner_div">
		<div class="inner_div_wrapper">
			<br />
			{view_warnings}
			<div id="site_config_main">
				<!-- define tabs -->
				<div id="mini-tabs">
					<ul>
						<li><a href="{baseurl}/admin/ajax.php?action=configure_general" id="tab_general" class="w1">{lang_site_config_tab_general}</a></li>
						<li><a href="{baseurl}/admin/ajax.php?action=configure_templates" id="tab_templates" class="w2">{lang_site_config_tab_template}</a></li>
						<li><a href="{baseurl}/admin/ajax.php?action=configure_seo" id="tab_seo" class="w1">{lang_site_config_tab_seo}</a></li>
						<li><a href="{baseurl}/admin/ajax.php?action=configure_seo_links" id="tab_seo_links" class="w1">{lang_site_config_tab_seo_links}</a></li>
						<li><a href="{baseurl}/admin/ajax.php?action=configure_uploads" id="tab_uploads" class="w3">{lang_site_config_tab_uploads}</a></li>
						<li><a href="{baseurl}/admin/ajax.php?action=configure_listings" id="tab_listings" class="w1">{lang_site_config_tab_listings}</a></li>
						<li><a href="{baseurl}/admin/ajax.php?action=configure_users" id="tab_users" class="w2">{lang_site_config_tab_users}</a></li>
						<li><a href="{baseurl}/admin/ajax.php?action=configure_social" id="tab_social" class="w2">{lang_site_config_social}</a></li>
					</ul>

				</div>
				
			</div>	
		
		</div>
		<div class="clear"></div>
	</div>
</div>
