<div>
	<form id="site_config_users" method="post" action="">
		<fieldset><legend><strong>{lang_site_config_heading_signup_settings}</strong></legend>
		<table cellspacing="0" cellpadding="3" width="99%" border="0">
			<tr class=tdshade2>
				<td width="150"><strong>{lang_signup_image_verification}</strong></td>
				<td width="150">
						<select name="controlpanel_use_signup_image_verification">
							{use_signup_image_verification_block}
							<option value="{value}" {selected}>{text}</option>
							{/use_signup_image_verification_block}
						</select>
					</td>
				<td>{lang_signup_image_verification_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_signup_email_verification}</strong></td>
				<td>
						<select name="controlpanel_require_email_verification">
							{require_email_verification_block}
							<option value="{value}" {selected}>{text}</option>
							{/require_email_verification_block}
						</select>
				</td>
				<td>{lang_signup_email_verification_desc}</td>
			</tr>
		</table>
		</fieldset>
		<br />
		
		<fieldset><legend><strong>{lang_site_config_heading_member_settings}</strong></legend>
		<table cellspacing="0" cellpadding="3" width="99%" border="0">
			<tr class=tdshade2>
				<td width="150"><strong>{lang_moderate_members}</strong></td>
				<td width="150">
						<select name="controlpanel_moderate_members">
							{moderate_members_block}
							<option value="{value}" {selected}>{text}</option>
							{/moderate_members_block}
						</select>
				</td>
				<td>{lang_moderate_members_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td ><strong>{lang_allow_member_signup}</strong></td>
				<td>
						<select name="controlpanel_allow_member_signup">
							{allow_member_signup_block}
							<option value="{value}" {selected}>{text}</option>
							{/allow_member_signup_block}
						</select>
				</td>
				<td>{lang_allow_member_signup_desc}</td>
			</tr>
		</table>
		</fieldset>
		<br />
		
		<fieldset><legend><strong>{lang_site_config_heading_agent_permissions}</strong></legend>
		<table cellspacing="0" cellpadding="3" width="99%" border="0">
			<tr class=tdshade2>
				<td width="150"><strong>{lang_moderate_agents}</strong></td>
				<td width="150">
						<select name="controlpanel_moderate_agents">
							{moderate_agents_block}
							<option value="{value}" {selected}>{text}</option>
							{/moderate_agents_block}
						</select>
				</td>
				<td>{lang_moderate_agents_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td ><strong>{lang_allow_agent_signup}</strong></td>
				<td>
						<select name="controlpanel_allow_agent_signup">
							{allow_agent_signup_block}
							<option value="{value}" {selected}>{text}</option>
							{/allow_agent_signup_block}
						</select>
				</td>
				<td>{lang_allow_agent_signup_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_agent_default_active}</strong></td>
				<td>
						<select name="controlpanel_agent_default_active">
							{agent_default_active_block}
							<option value="{value}" {selected}>{text}</option>
							{/agent_default_active_block}
						</select>
				</td>
				<td>{lang_agent_default_active_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_agent_default_admin}</strong></td>
				<td>
						<select name="controlpanel_agent_default_admin">
							{agent_default_admin_block}
							<option value="{value}" {selected}>{text}</option>
							{/agent_default_admin_block}
						</select>
				</td>
				<td>{lang_agent_default_admin_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_agent_default_edit_all_users}</strong></td>
				<td>
						<select name="controlpanel_agent_default_edit_all_users">
							{agent_default_edit_all_users_block}
							<option value="{value}" {selected}>{text}</option>
							{/agent_default_edit_all_users_block}
						</select>
				</td>
				<td>{lang_agent_default_edit_all_users_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_agent_default_edit_all_listings}</strong></td>
				<td>
						<select name="controlpanel_agent_default_edit_all_listings">
							{agent_default_edit_all_listings_block}
							<option value="{value}" {selected}>{text}</option>
							{/agent_default_edit_all_listings_block}
						</select>
				</td>
				<td>{lang_agent_default_edit_all_listings_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_agent_default_feature}</strong></td>
				<td>
						<select name="controlpanel_agent_default_feature">
							{agent_default_feature_block}
							<option value="{value}" {selected}>{text}</option>
							{/agent_default_feature_block}
						</select>
				</td>
				<td>{lang_agent_default_feature_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_agent_default_moderate}</strong></td>
				<td>
						<select name="controlpanel_agent_default_moderate">
							{agent_default_moderate_block}
							<option value="{value}" {selected}>{text}</option>
							{/agent_default_moderate_block}
						</select>
				</td>
				<td>{lang_agent_default_moderate_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_agent_default_logview}</strong></td>
				<td>
						<select name="controlpanel_agent_default_logview">
							{agent_default_logview_block}
							<option value="{value}" {selected}>{text}</option>
							{/agent_default_logview_block}
						</select>
				</td>
				<td>{lang_agent_default_logview_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_agent_default_edit_site_config}</strong></td>
				<td>
						<select name="controlpanel_agent_default_edit_site_config">
							{agent_default_edit_site_config_block}
							<option value="{value}" {selected}>{text}</option>
							{/agent_default_edit_site_config_block}
						</select>
				</td>
				<td>{lang_agent_default_edit_site_config_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_agent_default_edit_member_template}</strong></td>
				<td>
						<select name="controlpanel_agent_default_edit_member_template">
							{agent_default_edit_member_template_block}
							<option value="{value}" {selected}>{text}</option>
							{/agent_default_edit_member_template_block}
						</select>
				</td>
				<td>{lang_agent_default_edit_member_template_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_agent_default_edit_agent_template}</strong></td>
				<td>
						<select name="controlpanel_agent_default_edit_agent_template">
							{agent_default_edit_agent_template_block}
							<option value="{value}" {selected}>{text}</option>
							{/agent_default_edit_agent_template_block}
						</select>
				</td>
				<td>{lang_agent_default_edit_agent_template_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_agent_default_edit_listing_template}</strong></td>
				<td>
						<select name="controlpanel_agent_default_edit_listing_template">
							{agent_default_edit_listing_template_block}
							<option value="{value}" {selected}>{text}</option>
							{/agent_default_edit_listing_template_block}
						</select>
				</td>
				<td>{lang_agent_default_edit_listing_template_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_agent_default_canExportListings}</strong></td>
				<td>
						<select name="controlpanel_agent_default_can_export_listings">
							{agent_default_can_export_listings_block}
							<option value="{value}" {selected}>{text}</option>
							{/agent_default_can_export_listings_block}
						</select>
				</td>
				<td>{lang_agent_default_canExportListings_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_agent_default_canchangeexpirations}</strong></td>
				<td>
						<select name="controlpanel_agent_default_canchangeexpirations">
							{agent_default_canchangeexpirations_block}
							<option value="{value}" {selected}>{text}</option>
							{/agent_default_canchangeexpirations_block}
						</select>
				</td>
				<td>{lang_agent_default_canchangeexpirations_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_agent_default_editpages}</strong></td>
				<td>
						<select name="controlpanel_agent_default_editpages">
							{agent_default_editpages_block}
							<option value="{value}" {selected}>{text}</option>
							{/agent_default_editpages_block}
						</select>
				</td>
				<td>{lang_agent_default_editpages_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_agent_default_havevtours}</strong></td>
				<td>
						<select name="controlpanel_agent_default_havevtours">
							{controlpanel_agent_default_block}
							<option value="{value}" {selected}>{text}</option>
							{/controlpanel_agent_default_block}
						</select>
				</td>
				<td>{lang_agent_default_havevtours_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_agent_default_havefiles}</strong></td>
				<td>
						<select name="controlpanel_agent_default_havefiles">
							{agent_default_havefiles_block}
							<option value="{value}" {selected}>{text}</option>
							{/agent_default_havefiles_block}
						</select>
				</td>
				<td>{lang_agent_default_havefiles_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_agent_default_canManageAddons}</strong></td>
				<td>
						<select name="controlpanel_agent_default_canManageAddons">
							{agent_default_canManageAddons_block}
							<option value="{value}" {selected}>{text}</option>
							{/agent_default_canManageAddons_block}
						</select>
				</td>
				<td>{lang_agent_default_canManageAddons_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_agent_default_blogUserType}</strong></td>
				<td>
						<select name="controlpanel_agent_default_blogUserType">
							{agent_default_blogUserType_block}
							<option value="{value}" {selected}>{text}</option>
							{/agent_default_blogUserType_block}
						</select>
				</td>
				<td>{lang_agent_default_blogUserType_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_agent_default_edit_all_leads}</strong></td>
				<td>
						<select name="controlpanel_agent_default_edit_all_leads">
							{agent_default_edit_all_leads_block}
							<option value="{value}" {selected}>{text}</option>
							{/agent_default_edit_all_leads_block}
						</select>
				</td>
				<td>{lang_agent_default_edit_all_leads_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_agent_default_edit_lead_template}</strong></td>
				<td>
						<select name="controlpanel_agent_default_edit_lead_template">
							{agent_default_edit_lead_template_block}
							<option value="{value}" {selected}>{text}</option>
							{/agent_default_edit_lead_template_block}
						</select>
				</td>
				<td>{lang_agent_default_edit_lead_template_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td><strong>{lang_agent_default_num_listings}</strong></td>
				<td><input type="text" value="{controlpanel_agent_default_num_listings}" name="controlpanel_agent_default_num_listings" /></td>
				<td>{lang_agent_default_num_listings_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_agent_default_num_featuredlistings}</strong></td>
				<td><input type="text" value="{controlpanel_agent_default_num_featuredlistings}" name="controlpanel_agent_default_num_featuredlistings" /></td>
				<td>{lang_agent_default_num_featuredlistings_desc}</td>
			</tr>
		</table>
		</fieldset>
		<br />
		
		<fieldset><legend><strong>{lang_site_config_heading_agent_settings}</strong></legend>
		<table cellspacing="0" cellpadding="3" width="99%" border="0">
			<tr class=tdshade2>
				<td width="150"><strong>{lang_users_per_page}</strong></td>
				<td width="150"><input type="text" value="{controlpanel_users_per_page}" name="controlpanel_users_per_page" /></td>
				<td>{lang_users_per_page_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td><strong>{lang_admin_show_admin_on_agent_list}</strong></td>
				<td>
						<select name="controlpanel_show_admin_on_agent_list">
							{show_admin_on_agent_list_block}
							<option value="{value}" {selected}>{text}</option>
							{/show_admin_on_agent_list_block}
						</select>
				</td>
				<td>{lang_admin_show_admin_on_agent_list_desc}</td>
			</tr>
		</table>
		</fieldset>
		<br />
		
		<fieldset><legend><strong>{lang_site_config_vcard_settings}</strong></legend>
		<table cellspacing="0" cellpadding="3" width="99%" border="0">
			<tr class=tdshade2>
				<td  width="150"><strong>{lang_site_config_vcard_phone}</strong></td>
				<td width="150">
						<select name="controlpanel_vcard_phone">
							{vcard_phone_block}
							<option value="{value}" {selected}>{text}</option>
							{/vcard_phone_block}
						</select>
				</td>
				<td>{lang_site_config_vcard_phone_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td ><strong>{lang_site_config_vcard_fax}</strong></td>
				<td>
						<select name="controlpanel_vcard_fax">
							{vcard_fax_block}
							<option value="{value}" {selected}>{text}</option>
							{/vcard_fax_block}
						</select>
				</td>
				<td>{lang_site_config_vcard_fax_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td ><strong>{lang_site_config_vcard_mobile}</strong></td>
				<td>
						<select name="controlpanel_vcard_mobile">
							{vcard_mobile_block}
							<option value="{value}" {selected}>{text}</option>
							{/vcard_mobile_block}
						</select>
				</td>
				<td>{lang_site_config_vcard_mobile_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td ><strong>{lang_site_config_vcard_address}</strong></td>
				<td>
						<select name="controlpanel_vcard_address">
							{vcard_address_block}
							<option value="{value}" {selected}>{text}</option>
							{/vcard_address_block}
						</select>
				</td>
				<td>{lang_site_config_vcard_address_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td ><strong>{lang_site_config_vcard_city}</strong></td>
				<td>
						<select name="controlpanel_vcard_city">
							{vcard_city_block}
							<option value="{value}" {selected}>{text}</option>
							{/vcard_city_block}
						</select>
				</td>
				<td>{lang_site_config_vcard_city_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td ><strong>{lang_site_config_vcard_state}</strong></td>
				<td>
						<select name="controlpanel_vcard_state">
							{vcard_state_block}
							<option value="{value}" {selected}>{text}</option>
							{/vcard_state_block}
						</select>
				</td>
				<td>{lang_site_config_vcard_state_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td ><strong>{lang_site_config_vcard_zip}</strong></td>
				<td>
						<select name="controlpanel_vcard_zip">
							{vcard_zip_block}
							<option value="{value}" {selected}>{text}</option>
							{/vcard_zip_block}
						</select>
				</td>
				<td>{lang_site_config_vcard_zip_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td ><strong>{lang_site_config_vcard_country}</strong></td>
				<td>
						<select name="controlpanel_vcard_country">
							{vcard_country_block}
							<option value="{value}" {selected}>{text}</option>
							{/vcard_country_block}
						</select>
				</td>
				<td>{lang_site_config_vcard_country_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td ><strong>{lang_site_config_vcard_notes}</strong></td>
				<td>
						<select name="controlpanel_vcard_notes">
							{vcard_notes_block}
							<option value="{value}" {selected}>{text}</option>
							{/vcard_notes_block}
						</select>
				</td>
				<td>{lang_site_config_vcard_notes_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td ><strong>{lang_site_config_vcard_url}</strong></td>
				<td>
						<select name="controlpanel_vcard_url">
							{vcard_url_block}
							<option value="{value}" {selected}>{text}</option>
							{/vcard_url_block}
						</select>
				</td>
				<td>{lang_site_config_vcard_url_desc}</td>
			</tr>
		</table>
		</fieldset>
		
		
		
		<fieldset><legend><strong>{lang_banned_config}</strong></legend>
		<table cellspacing="0" cellpadding="3" width="99%" border="0">
			<tr class=tdshade1>
				<td width="150"><strong>{lang_banned_domains_signup}</strong></td>
				<td width="150"><textarea rows="5" cols="35"
					name="controlpanel_banned_domains_signup">{controlpanel_banned_domains_signup}</textarea></td>
				<td>{lang_banned_domains_signup_desc}</td>
			</tr>
			<tr class=tdshade2>
				<td ><strong>{lang_banned_ips_signup}</strong></td>
				<td><textarea rows="5" cols="35"
					name="controlpanel_banned_ips_signup">{controlpanel_banned_ips_signup}</textarea></td>
				<td>{lang_banned_ips_signup_desc}</td>
			</tr>
			<tr class=tdshade1>
				<td ><strong>{lang_banned_ips_site}</strong></td>
				<td><textarea rows="5" cols="35"
					name="controlpanel_banned_ips_site">{controlpanel_banned_ips_site}</textarea></td>
				<td>{lang_banned_ips_site_desc}</td>
			</tr>
		</table>
		</fieldset>
		<br />
		
		<fieldset><legend><strong>Export User Email Addresses</strong></legend>
		<table cellspacing="0" cellpadding="3" width="99%" border="0">
			<tr class=tdshade1>
				<td width="150">
					<strong>User Type to export:</strong>
				</td>
				
				<td width="150">
					<select id="email_export_type">
						<option value="all">{lang_all}</option>
						<option value="admins">{lang_user_manager_admins}</option>
						<option value="agents">{lang_user_manager_agents}</option>
						<option value="members">{lang_user_manager_members}</option>
					</select> 
				</td>
				<td width="150">
					<button type="button" class="or_std_button" id="export_emails" name="export_emails"><span class="ui-icon ui-icon-arrowthickstop-1-s"></span> {lang_download_file}</button>
				</td>
				<td id="export_result"></td>

			</tr>
		</table>
		</fieldset>
		<br />
		
		<input type="submit" class="or_std_button" value="{lang_save_changes}" />
	
	</form>

</div>

<script type="text/javascript">
$("#site_config_users").validate({
	meta: "validate",
	errorLabelContainer: "#response_text",
	submitHandler: function(form) {
		$.post("ajax.php?action=update_site_config", $("#site_config_users").serialize(), function(data){
			if(data.error == "1"){
				status_error(data.error_msg);
			}else{
				status_msg(data.status);
			}
		},"json");
		return false;
	}
});

$("#export_emails").click(function(){
	$( "#export_result" ).empty().html('<img src="{template_url}/images/progress_indicator.gif" height="20">');
	var usertype = $("#email_export_type").val();
	var typename = $("email_export_type").find('option:selected').text();
	jQuery.download('ajax.php?action=ajax_export_emails', 'email_export_type', usertype );
	$( "#export_result" ).empty().html(' <strong> '+typename+' emails exported</strong>');
	return false;
});

jQuery.download = function(url, key, data){
    // Build a form
    var form = $('<form></form>').attr('action', url).attr('method', 'post').attr('target', '_blank');
    // Add the one key/value
    form.append($("<input></input>").attr('type', 'hidden').attr('name', key).attr('value', data));
    //send request
    form.appendTo('body').submit().remove();
};

</script>