<div>
<div class="seotooltip"></div> 
<form id="seo_uri_structure" method="POST" action="">
<fieldset><legend><strong>{lang_site_config_heading_permanant_links}</strong></legend>
<div>
	<div class="permanentlink_titles">Listing URL:</div>
	<div class="permanentlink_sluguri">
				<label for="listing_slug">Slug: </label><input type="text" name="listing_slug" value="{listing_slug}" title="" />  
			<br />
				<label for="listing_uri">URI: </label><input type="text" name="listing_uri" value="{listing_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>
	<div class="permanentlink_titles">Listing Image URL:</div>
	<div class="permanentlink_sluguri">
				<label for="listing_image_slug">Slug: </label><input type="text" name="listing_image_slug" value="{listing_image_slug}" title="" />  
			<br />
				<label for="listing_image_uri">URI: </label><input type="text" name="listing_image_uri" value="{listing_image_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>
	<div class="permanentlink_titles">WYSIWYG Page URL:</div>
	<div class="permanentlink_sluguri">
				<label for="page_slug">Slug: </label><input type="text" name="page_slug" value="{page_slug}" title="" />  
			<br />
				<label for="page_uri">URI: </label><input type="text" name="page_uri" value="{page_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>
	<div class="permanentlink_titles">Agent Page URL:</div>
	<div class="permanentlink_sluguri">
				<label for="agent_slug">Slug: </label><input type="text" name="agent_slug" value="{agent_slug}" title="" />  
			<br />
				<label for="agent_uri">URI: </label><input type="text" name="agent_uri" value="{agent_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>
	<div class="permanentlink_titles">Contact Agent URL:</div>
	<div class="permanentlink_sluguri">
				<label for="contact_listing_agent_slug">Slug: </label><input type="text" name="contact_listing_agent_slug" value="{contact_listing_agent_slug}" title="" />  
			<br />
				<label for="contact_listing_agent_uri">URI: </label><input type="text" name="contact_listing_agent_uri" value="{contact_listing_agent_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>
	
	<div class="permanentlink_titles_urionly">Blog Index URL:</div>
	<div class="permanentlink_sluguri">
				<label for="blogindex_uri">URI: </label><input type="text" name="blogindex_uri" value="{blogindex_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>
	
	<div class="permanentlink_titles">Blog Article URL:</div>
	<div class="permanentlink_sluguri">
				<label for="blog_slug">Slug: </label><input type="text" name="blog_slug" value="{blog_slug}" title="" />  
			<br />
				<label for="blog_uri">URI: </label><input type="text" name="blog_uri" value="{blog_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>
	
	<div class="permanentlink_titles">Blog Tag URL:</div>
	<div class="permanentlink_sluguri">
				<label for="blog_tag_slug">Slug: </label><input type="text" name="blog_tag_slug" value="{blog_tag_slug}" title="" />  
			<br />
				<label for="blog_tag_uri">URI: </label><input type="text" name="blog_tag_uri" value="{blog_tag_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>
	
	<div class="permanentlink_titles">Blog Category URL:</div>
	<div class="permanentlink_sluguri">
				<label for="blog_cat_slug">Slug: </label><input type="text" name="blog_cat_slug" value="{blog_cat_slug}" title="" />  
			<br />
				<label for="blog_cat_uri">URI: </label><input type="text" name="blog_cat_uri" value="{blog_cat_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>
	
	<div class="permanentlink_titles">Blog Archive URL:</div>
	<div class="permanentlink_sluguri">
				<label for="blog_archive_slug">Slug: </label><input type="text" name="blog_archive_slug" value="{blog_archive_slug}" title="" />  
			<br />
				<label for="blog_archive_uri">URI: </label><input type="text" name="blog_archive_uri" value="{blog_archive_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>
	
	<div class="permanentlink_titles_urionly">Index URL:</div>
	<div class="permanentlink_sluguri">
				<label for="index_uri">URI: </label><input type="text" name="index_uri" value="{index_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>
	
	<div class="permanentlink_titles_urionly">View Agents URL:</div>
	<div class="permanentlink_sluguri">
				<label for="view_agents_uri">URI: </label><input type="text" name="view_agents_uri" value="{view_agents_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>
	
	
	<div class="permanentlink_titles_urionly">Search Page URL:</div>
	<div class="permanentlink_sluguri">
				<label for="searchpage_uri">URI: </label><input type="text" name="searchpage_uri" value="{searchpage_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>
	
	<div class="permanentlink_titles_urionly">Search Results URL:</div>
	<div class="permanentlink_sluguri">
				<label for="searchresults_uri">URI: </label><input type="text" name="searchresults_uri" value="{searchresults_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>

	<div class="permanentlink_titles_urionly">Member Signup URL:</div>
	<div class="permanentlink_sluguri">
				<label for="member_signup_uri">URI: </label><input type="text" name="member_signup_uri" value="{member_signup_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>	
	
	<div class="permanentlink_titles_urionly">Agent Signup URL:</div>
	<div class="permanentlink_sluguri">
				<label for="agent_signup_uri">URI: </label><input type="text" name="agent_signup_uri" value="{agent_signup_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>
	
		<div class="permanentlink_titles_urionly">Member Login URL:</div>
	<div class="permanentlink_sluguri">
				<label for="member_login_uri">URI: </label><input type="text" name="member_login_uri" value="{member_login_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>

	<div class="permanentlink_titles_urionly">Edit Profile URL:</div>
	<div class="permanentlink_sluguri">
				<label for="edit_profile_uri">URI: </label><input type="text" name="edit_profile_uri" value="{edit_profile_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>
		
	<div class="permanentlink_titles_urionly">Logout URL:</div>
	<div class="permanentlink_sluguri">
				<label for="logout_uri">URI: </label><input type="text" name="logout_uri" value="{logout_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>
	
	<div class="permanentlink_titles_urionly">View Favorites URL:</div>
	<div class="permanentlink_sluguri">
				<label for="view_favorites_uri">URI: </label><input type="text" name="view_favorites_uri" value="{view_favorites_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>
	
	<div class="permanentlink_titles_urionly">Saved Searches URL:</div>
	<div class="permanentlink_sluguri">
				<label for="saved_searches_uri">URI: </label><input type="text" name="saved_searches_uri" value="{saved_searches_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>

	<div class="permanentlink_titles_urionly">Calculator URL:</div>
	<div class="permanentlink_sluguri">
				<label for="calculator_uri">URI: </label><input type="text" name="calculator_uri" value="{calculator_uri}" title="" class="seo_uri required" />
	</div>
	<div class="permanenetlink_spacer clear"></div>	
	
</div>
</fieldset>
<input type="submit" class="or_std_button" value="{lang_save_changes}" />
</form>
</div>
<script type="text/javascript">
$("#seo_uri_structure").validate({
	meta: "validate",
	errorLabelContainer: "#response_text",
	submitHandler: function(form) {
		$.post("ajax.php?action=update_seouris", $("#seo_uri_structure").serialize(), function(data){
			if(data.error == "1"){
				status_error(data.error_msg);
			}else{
				status_msg(data.status);
			}
		},"json");
		return false;
	}
});
</script>
<!--
$("#seo_uri_structure :input").tooltip({ 
	 content: function(callback) { 
     callback($(this).prop('title').replace('|', '<br />')); 
  }
});
-->