/* Define Standard CSS Elements */

body {
	background-color:#BCCAD1;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:9pt;
	margin:0;
	padding:0;
}

img {
	border:0 none;
}

hr {
	background:none;
	border:0;
	border-top:1px solid #CCC;
}

h1 {
	font-size:18pt;
}

h2 {
	color:#036;
	font-size:16pt;
	font-weight:400;
}

h3 {
	font-size:12pt;
}

a:link,a:visited,a:active {
	color:#014D5F;
	text-decoration:none;
}

fieldset {
	background-color:#EEE;
	border:1px solid #AAA;
	margin:5px;
}

legend {
	color:#000;
	font-weight:700;
	font-size:10pt;
}

.legend {
	float:right;
	padding: 4px;
}
.legend_item {
	padding: 0px 5px 0px 5px;
	font-size: 8pt;
}

.clear{
	clear:both;
}

/* CSS Used on general layout of all Open-Realty Admin Template files */

.space_5 {
	height: 5px;
}
.space_10 {
	height: 10px;
}
.space_15 {
	height: 15px;
}
.space_20 {
	height: 20px;
}

.weight_600 {
	font-weight: 600;
}
.weight_700 {
	font-weight: 700;
}

.center_align {
	text-align: center;
}

.medf {
	font-size: 1.1em;
}

.largef {
	font-size: 1.2em;
}


.or_std_button {
	outline: none;
	color: #222;
	text-shadow: 1px 1px 2px #ccc;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
    border: 1px solid #999;
    padding: 3px 8px;
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #ffffff 23%, #cecece 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(23%,#ffffff), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#ffffff 23%,#cecece 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e2e2e2 0%,#ffffff 23%,#cecece 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e2e2e2 0%,#ffffff 23%,#cecece 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e2e2e2 0%,#ffffff 23%,#cecece 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}

.or_std_button:hover {
	border-color: #666;
	background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f2f2 0%, #fcfcfc 26%, #e2e2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(26%,#fcfcfc), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f2f2 0%,#fcfcfc 26%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f2f2 0%,#fcfcfc 26%,#e2e2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f2f2 0%,#fcfcfc 26%,#e2e2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f2f2 0%,#fcfcfc 26%,#e2e2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}

.or_std_button.red {
	background: #f4e1e1; /* Old browsers */
	background: -moz-linear-gradient(top, #f4e1e1 0%, #f4a8a8 51%, #e87676 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4e1e1), color-stop(51%,#f4a8a8), color-stop(100%,#e87676)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4e1e1 0%,#f4a8a8 51%,#e87676 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4e1e1 0%,#f4a8a8 51%,#e87676 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4e1e1 0%,#f4a8a8 51%,#e87676 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4e1e1 0%,#f4a8a8 51%,#e87676 100%); /* W3C */
}

.or_std_button.red:hover {
	background: url('{template_url}/images/red_gradient.png');
}

.actionbuttons a {
	color:#2f4f4f;
	padding: 2px 4px;
	margin: 2px;
	border: 1px solid #666;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: url('{template_url}/images/blue_gradient.png');
	font-size: .8em;
}

.actionbuttons a:hover {
	color:#000;
	background: url('{template_url}/images/blue_gradient.png');
	opacity: .8;
	border-color:#ABABAB;
}

.actionbuttons img {
	vertical-align: middle;
	margin-right: 2px;
}

#message_text {
/*	line-height: 1.1em; */
}

/*login page stuff*/

.login_error_msg {
	color: red;
	font-size: 12pt;
	font-weight: bold;
}

.admin_challenge_phrase {
	font-size: 10pt;
}

.admin_challenge_phrase a {
	color: #1464F4;
}

.login_area_div{
	-moz-border-radius:6px;
	-khtml-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background:#F2F2F2;
	padding:20px 10px;
	webkit-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	background: #e0eff9; /* Old browsers */
	background: -moz-linear-gradient(top, #e0eff9 0%, #cccccc 38%, #b5c6d0 100%, #f2f6f8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0eff9), color-stop(38%,#cccccc), color-stop(100%,#b5c6d0), color-stop(100%,#f2f6f8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e0eff9 0%,#cccccc 38%,#b5c6d0 100%,#f2f6f8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e0eff9 0%,#cccccc 38%,#b5c6d0 100%,#f2f6f8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e0eff9 0%,#cccccc 38%,#b5c6d0 100%,#f2f6f8 100%); /* IE10+ */
	background: linear-gradient(top, #e0eff9 0%,#cccccc 38%,#b5c6d0 100%,#f2f6f8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0eff9', endColorstr='#f2f6f8',GradientType=0 ); /* IE6-9 */
}

.login_form_div {
	float: left;
	width: 50%;
}

.lost_pass_div {
	float: right;
	width: 40%;
	border: 1px solid #aaa;
	padding: 10px;
	margin-top: 5px;
}

.login_form_div input[type="text"], .login_form_div input[type="password"], .lost_pass_div input[type="text"]  {
	margin: 5px;
	padding: 4px;
	border:1px solid #AAAAAA;
	background-color: #FFFFCC;
	color: #303030;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.login_form_div input[type="text"]:focus, .login_form_div input[type="password"]:focus, .lost_pass_div input[type="text"]:focus {
	outline: none; /*webkit fix*/
	background-color: #fff;
	border: 1px solid #236B8E;
}

.login_form_div input[type="checkbox"] {
	margin: 14px 5px;
}

.login_form_div .field_caption {
	padding-right: 2px;
	padding-top: 10px;
	font-size: 11pt;
	font-weight: normal;
}

.login_form_div .or_std_button {
	padding: 2px 20px;
}

.remember_me {
	font-size: 8pt;
	font-weight: 400 !important;
}

.enter_your_email_address_for_pass {
	font-size: 8pt;
	color: #036;
	margin-bottom: 10px;
}

.password_form_div {
	text-align: center;
}


/* common page styles */
.application_rounded_box {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background:#F2F2F2;
	padding:1px;
	-webkit-box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.75);
	box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.75);
}

.application_rounded_box_new {
	background: #f4f7ff; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f7ff 0%, #d2d8e0 40%, #c0cec7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f7ff), color-stop(40%,#d2d8e0), color-stop(100%,#c0cec7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4f7ff 0%,#d2d8e0 40%,#c0cec7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#c0cec7',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	-moz-box-shadow:    1px 1px 2px rgba(1, 0, 0, 0.75);
	box-shadow:         1px 1px 2px rgba(1, 0, 0, 0.75);
}

.application_rounded_box_title {
	background: #FEFFFF;
	background: -moz-linear-gradient(top, #FEFFFF 0%, #DDF1F9 35%, #E5E5E5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFFFF), color-stop(35%,#DDF1F9), color-stop(100%,#E5E5E5));
	background: -webkit-linear-gradient(top, #FEFFFF 0%,#DDF1F9 35%,#E5E5E5 100%);
	background: -o-linear-gradient(top, #FEFFFF 0%,#DDF1F9 35%,#E5E5E5 100%);
	background: -ms-linear-gradient(top, #FEFFFF 0%,#DDF1F9 35%,#E5E5E5 100%);
	background: linear-gradient(top, #FEFFFF 0%,#DDF1F9 35%,#E5E5E5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#e5e5e5',GradientType=0 );
	font-weight:700;
	font-size:10pt;
	text-align:center;
	margin:0;
	padding:3px;
	color: #036;
	text-shadow: 1px 1px 1px white;
}


.application_main {
	border: 1px solid #aaa;
}

.application_section > img {
	margin-left:3px;
}

.application_section {
	border-bottom: 1px solid #ccc;
	background: #FEFFFF;
	background: -moz-linear-gradient(top, #FEFFFF 0%, #DDF1F9 35%, #E5E5E5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFFFF), color-stop(35%,#DDF1F9), color-stop(100%,#E5E5E5));
	background: -webkit-linear-gradient(top, #FEFFFF 0%,#DDF1F9 35%,#E5E5E5 100%);
	background: -o-linear-gradient(top, #FEFFFF 0%,#DDF1F9 35%,#E5E5E5 100%);
	background: -ms-linear-gradient(top, #FEFFFF 0%,#DDF1F9 35%,#E5E5E5 100%);
	background: linear-gradient(top, #FEFFFF 0%,#DDF1F9 35%,#E5E5E5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#e5e5e5',GradientType=0 );
	height:35px;
}

.application_section img {
	float:left;
}

.application_section_title {
	font-size:16pt;
	/*text-shadow: 1px 1px 1px #fff; */
	text-shadow: 1px 1px 2px #ccc;
	color:#036;
	float:left;
	margin:0;
	padding:5px 3px 3px 6px;
}

.application_section_title a,.application_section_title a:visited,.application_section_title a:hover {
	color:#F5F5F5;
	text-decoration:none;
}

#application_status_message {
	outline: none; /*webkit fix*/
	float:right;
	margin-right:5px;
	margin-top:3px;
	padding:5px;
	font-size:10pt;
	font-weight: 400;
	text-shadow: 1px 1px 1px #000;
	border-top:1px;
	border-right:2px;
	border-bottom:2px;
	border-left:1px;
	-moz-border-radius:8px;
	-khtml-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border-color:#838b83;
	border-style:solid;
	color: #fff;
	background-image: url('{template_url}/images/status_gradient_success.png');
}

.application_section_info {
	float:right;
	margin-right:15px;
	font-size:12pt;
	color:#000;
	padding:5px;
}

.inner_div {
	padding:8px;

}

.inner_div_wrapper {
	float:left;
	width:100%;
}

/* CSS for main.html Template */

.header {
	background: #f4f7ff; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f7ff 0%, #e5e5e5 47%, #d8d8d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f7ff), color-stop(47%,#e5e5e5), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f7ff 0%,#e5e5e5 47%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f7ff 0%,#e5e5e5 47%,#d8d8d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f7ff 0%,#e5e5e5 47%,#d8d8d8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4f7ff 0%,#e5e5e5 47%,#d8d8d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
	height:32px;
}

.headerlinks{
	background: url('{template_url}/images/blue_gradient.png');
	display: inline-block;
	margin-top: 4px;
}

.headerlinks:hover{
	border-color:#888;
}

.header .poweredby {
	position:absolute;
	right:5px;
	top:2px;
}

.header .version {
	color:#036;
	font-size:7pt;
	position:absolute;
	right:12px;
	top:28px;
}

.header .company {
	color:#036;
	font-size: 14pt;
	position:absolute;
	left:340px;
	top:4px;
	text-shadow: 1px 1px 1px white;
}

.header .companylocation {
	font-style:italic;
}

.centercolumn_wrapper {
	width:100%;
	padding-top:8px;
	padding-bottom:8px;
	background-color:#ffffff;
}

.content{
	margin-left:175px;
	height: 100%;
}

.leftcolumn_wrapper{
	float:left;
	width:170px;
}


.application_menu_box {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	-webkit-border-radius: px px 6px 6px;
    border-radius: 0px 0px 6px 6px;
	background: #f4faff; /* Old browsers */
	background: -moz-linear-gradient(top, #f4faff 0%, #f2f2f2 32%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4faff), color-stop(32%,#f2f2f2), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4faff 0%,#f2f2f2 32%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4faff 0%,#f2f2f2 32%,#f2f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4faff 0%,#f2f2f2 32%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4faff 0%,#f2f2f2 32%,#f2f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4faff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
}

.leftcolumn {
	list-style:none;
}

.leftcolumn_wrapper_collapse {
	width:16px;
	float:left;
}

.main_menu {
	width: 100%;
	height: 27px;
	padding-top: 8px;
	margin-bottom: 1px;
	background: #FEFFFF;
	background: -moz-linear-gradient(top, #FEFFFF 0%, #DDF1F9 35%, #E5E5E5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FEFFFF), color-stop(35%,#DDF1F9), color-stop(100%,#E5E5E5));
	background: -webkit-linear-gradient(top, #FEFFFF 0%,#DDF1F9 35%,#E5E5E5 100%);
	background: -o-linear-gradient(top, #FEFFFF 0%,#DDF1F9 35%,#E5E5E5 100%);
	background: -ms-linear-gradient(top, #FEFFFF 0%,#DDF1F9 35%,#E5E5E5 100%);
	background: linear-gradient(top, #FEFFFF 0%,#DDF1F9 35%,#E5E5E5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#e5e5e5',GradientType=0 );
	text-shadow: 1px 1px 1px #ffffff;
}

.main_menu_collapse {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: none;
}

.menu_collapse {
	float:left;
	cursor:pointer;
	width:16px;
}

#main_menu_text {
	margin-left: 20px;
	color: #036;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 2px #ccc;
}

.left_menu {
	padding-bottom:15px;
}

.left_menu a {
	line-height:18pt;
	padding-left:8px;
	padding: 4px;
	border-bottom:1px solid #EaEaEa;
	display:block;
	color:#036;
	font-size:10pt;
	border-top: 1px solid transparent;
	text-shadow: 1px 1px 2px #ccc;
}

.left_menu a:hover {
	color:#000;
	border-top: 1px solid #ddd;
	background: #f4faff; /* Old browsers */
	background: -moz-linear-gradient(top, #f4faff 0%, #eaeaea 32%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4faff), color-stop(32%,#eaeaea), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4faff 0%,#eaeaea 32%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4faff 0%,#eaeaea 32%,#e0e0e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4faff 0%,#eaeaea 32%,#e0e0e0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4faff 0%,#eaeaea 32%,#e0e0e0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4faff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	text-shadow: 1px 1px 1px white;
}

.left_menu img {
	margin-bottom:-4px;
	margin-right:5px;
	height: 16px;
	width: 16px;
}

#addon_menu_links > .ui-accordion,  #addon_menu_links > .ui-accordion-content{
	padding: 0px;
}

#addon_menu_links > h3 {
  	padding: 5px 0px 6px 28px;
	color: #036;
  	font-size: 1.1em;
 }

#addon_menu_links a {
	font-size: .9em;
}

#addon_menu_links > ui-accordion-header >.ui-icon {
	left: 1em;
}

#addon_menu_links > .ui-corner-all, #addon_menu_links >.ui-corner-top, #addon_menu_links >.ui-corner-right, #addon_menu_links > .ui-corner-tr, #addon_menu_links > .ui-widget-content {
	border: none;
	outline: none;
}

#addon_menu_links > .ui-state-active {
	background: #e1ffff;
	background: -moz-linear-gradient(top, #e1ffff 0%, #fdffff 0%, #e1ffff 7%, #e1ffff 12%, #e6f8fd 30%, #c8eefb 59%, #cedce7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1ffff), color-stop(0%,#fdffff), color-stop(7%,#e1ffff), color-stop(12%,#e1ffff), color-stop(30%,#e6f8fd), color-stop(59%,#c8eefb), color-stop(100%,#cedce7));
	background: -webkit-linear-gradient(top, #e1ffff 0%,#fdffff 0%,#e1ffff 7%,#e1ffff 12%,#e6f8fd 30%,#c8eefb 59%,#cedce7 100%);
	background: -o-linear-gradient(top, #e1ffff 0%,#fdffff 0%,#e1ffff 7%,#e1ffff 12%,#e6f8fd 30%,#c8eefb 59%,#cedce7 100%);
	background: -ms-linear-gradient(top, #e1ffff 0%,#fdffff 0%,#e1ffff 7%,#e1ffff 12%,#e6f8fd 30%,#c8eefb 59%,#cedce7 100%);
	background: linear-gradient(to bottom, #e1ffff 0%,#fdffff 0%,#e1ffff 7%,#e1ffff 12%,#e6f8fd 30%,#c8eefb 59%,#cedce7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#cedce7',GradientType=0 );
	outline: none;
}

#addon_menu_links > .ui-widget-content {
	background: none;
}

.left_menu a > br {
	display: none;
}

.footer {
	border-top: 1px solid #ddd;
	background: #f4f7ff; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f7ff 0%, #dddddd 47%, #cecece 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f7ff), color-stop(47%,#dddddd), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f7ff 0%,#dddddd 47%,#cecece 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f7ff 0%,#dddddd 47%,#cecece 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f7ff 0%,#dddddd 47%,#cecece 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4f7ff 0%,#dddddd 47%,#cecece 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
	padding:5px;
}

.footer .copyright {
	color:#333333;
	text-align:center;
	width:450px;
	margin:auto;
}

.footer .copyright a {
	color: #1464F4;
}

.footer .version {
	color:#333333;
	float:left;
	text-shadow: 1px 1px 1px white;
}

/* or_index.html File CSS */

.or_index {
	background-color: #FAFAFA;
	border: 1px solid #CCC;
	margin-right: 0px;
}

.or_index_table {
	padding: 10px;
}
.or_index_table, #quicklinks_info_cell, #general_info {
	width:100%;
}

.or_index_table td {
	vertical-align:top;
	width:33%;
	padding:0 5px;
}

.or_index_table h2, #listingstats h2, .addon_header {
	color: #036;
	font-size: 14pt;
	font-weight: 400;
	margin: 0;
	text-shadow: 1px 1px 1px #ffffff;
}

.addon_header {
	margin-left: 15px;
}

#openrealty_links {
	padding: 8px;
	min-height: 20px;
	background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#ddf1f9), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #feffff 0%,#ddf1f9 35%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #feffff 0%,#ddf1f9 35%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #feffff 0%,#ddf1f9 35%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(top, #feffff 0%,#ddf1f9 35%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */;
}

.openrealty_upgrade {
	font-size: 1.3em;
	text-shadow: 1px 1px 1px #ffffff;
}

.current_user {
	float: right;
	font-size: 1.2em;
	font-weight: 400;
	text-shadow: 1px 1px 1px #ffffff;
}

#openrealty_links a.upgrade_false {
	background:none;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	padding: 20px 0 0;
	color: #0415FE;
}

#openrealty_links a.upgrade_true {
	text-align: center;
	padding: 20px 0 0;
	font-weight: bold;
	color: #FF0000;
}

#listingstats {
	margin:0;
	padding: 5px 10px 10px 15px;
}

#general_info_cell  {
	margin-top: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	font-size: 1.2em;
}

#general_info_cell div {
	padding: 4px;
	border-bottom: 1px solid #DEDEDE;
	border-right: 1px solid #DEDEDE;
}
#general_info_cell div:hover {
	background-color: #eee;
}

.general_info_cap, .general_info_data {
	display: inline-block;
}

.general_info_cap {
	width: 70%
}

.general_info_data {
	text-align: right;
	color: #666;
	width: 28%;
}

#general_info_cell, #content_info_cell, #quicklinks_info_cell  {
	margin-top: 5px;
	padding: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	min-height: 136px;
	font-size: 1.2em;
}
#general_info_cell  {
		padding: 0px;
}

#quicklinks_info_cell a {
	color:#0415FE;
	display: block;
	margin: 10px 8px;
	font-size: 1.2em;
}

#quicklinks_info_cell a:hover {
	color: #666;
}

.viewfavorites {
	background:url({baseurl}/admin/template/OR_small/images/icon_viewfavorites.png) no-repeat center left;
	padding:0 0 0 20px;
}

.viewsavedsearches {
	background:url({baseurl}/admin/template/OR_small/images/icon_viewsavedsearches.png) no-repeat center left;
	padding:0 0 0 20px;
}

.viewforums {
	background:url({baseurl}/admin/template/OR_small/images/icon_forums.png) no-repeat center left;
	padding:0 0 0 20px;
}

.viewdocs {
	background:url({baseurl}/admin/template/OR_small/images/icon_help.png) no-repeat center left;
	padding:0 0 0 20px;
}

.pnb_links {
	background-color: #EDEDED;
	display: block;
	padding: 2px;
}
.pnb_links a {
	color:#0415FE;
}
.pnb_links a:hover {
	color:#666;
}

#general_info a:link,#general_info a:visited,#general_info a:hover,#general_info a:active {
	color:#0415FE;
	text-align:left;
}

#general_info ul.right li,#general_info ul.left li {
	padding:0 0 3px;
}


#general_info ul {
	list-style-position:inside;
	list-style-type:none;
}

#general_info ul.left {
	float:left;
	width:70%;
	padding:5px 0 15px 20px;
}

#general_info ul.right {
	float:right;
	text-align:center;
	width:10%;
	padding:5px 20px 15px 0;
}


/* Admin area Addons  */
.addonscontainer {
	background:none;
	border-style:none;
	color:#036;
	font-size:1em;
	padding:0;
	margin: 10px auto 0px 15px;
}

.addon_cell {
	width:94px;
	min-height: 96px;
	vertical-align:top;
	display: inline-block;
	background-color:#EDEDED;
	border:1px solid #CCCCCC;
	margin: 2px 2px;
	padding: 2px;
}

.addon_cell a {
	display: block;
	text-align: center;
	color: #0415FE;
}
.addon_cell:hover {
	background-color: #FDFCDC;
	color: #000;
	cursor: pointer;
}

/* Form Layout For Listing/User Editors */

.form_div {
	padding-top:4px;
}

.field_caption {
	float:left;
	text-align:right;
	padding-top:4px;
	font-size:1.1em;
	width:42%;
}

.field_element {
	float:right;
	text-align:left;
	width:57%;
}

.field_element_column {
	float:left;
	width:50%;
}


#add_listing_form {
	padding: 10px;
}
#add_listing_form table td {
	margin: 4px;
	padding: 2px;
}

.add_listing_field_caption {
	text-align: right;
	padding-right: 2px;
	font-weight: bold;
}
.add_listing_field_element {
	text-align: left;
}

/* add listing popup form items */
#add_listing_form input[name="title"] {
	border:1px solid #AAAAAA;
	min-width: 250px;
	background: #FFFFCC;
	padding: 1px;
}

#add_listing_form input[name="title"]:focus {
	outline: none; /*webkit fix*/
	background-color: #fff;
	border: 1px solid #236B8E;
}

#add_listing_form select {
	width: auto;
	font-size: 10pt;
	background: #FFFFCC;
	padding: 1px;
}

#add_listing_form select:focus {
	background: #fff;
}


/* Next Prev */

table.browse_tool_table {
	padding:6px;
	/*background-color:#F2F2F2;*/
	width: 100%;
}

table.browse_tool_table td.browse_tool .browse_tool strong {
	padding:0 0 0 6px;
}

.browse_tool_num {
	color:#369;
}

.jumptopage {
	text-align: right;
	margin: 10px 10px 0px 0px;
	font-weight: bold;
	text-shadow: 1px 1px 1px white;
}

a.bt_pages, a.bt_pages:visited, .browse_tool_curpage {
	-moz-border-radius:6px;
	-khtml-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border-width:1px;
	border-style: solid;
	font-size: 9pt;
	text-align:center;
	display:block;
	background: url('{template_url}/images/blue_gradient.png');
	-webkit-box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.65);
	-moz-box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.65);
	box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.65);
}

.bt_pages_firstpage a.bt_pages, .bt_pages_lastpage a.bt_pages {
	background: url('{template_url}/images/blue_gradient.png');
	color: #222;
	border-color: transparent;

}

.bt_pages_firstpage a.bt_pages:hover, .bt_pages_lastpage a.bt_pages:hover {
	background-color: #fff !important;
	color:#007FFF !important;
}

a.bt_pages {
	border-color: #67C8FF;
	padding: 2px 6px;
	margin: 0 2px;
}

a.bt_pages:hover {
	background: url('{template_url}/images/blue_gradient.png');
	border-color: #007FFF;
	color:#007FFF !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

a.bt_pages:visited {
	background-color: inherit;
}

a.bt_pages:visited:hover {
	background-color:inherit;
}

.browse_tool_curpage {
	background: none;
	background-color: #F0FFFF;
	color:#236B8E;
	border-color: #236B8E;
	font-weight:600;
	padding: 2px 6px;
	margin: 0 2px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: #eaeaea; /* Old browsers */
	background: -moz-linear-gradient(top, #eaeaea 0%, #e8e8e8 7%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(7%,#e8e8e8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eaeaea 0%,#e8e8e8 7%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eaeaea 0%,#e8e8e8 7%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eaeaea 0%,#e8e8e8 7%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eaeaea 0%,#e8e8e8 7%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.bt_pages_ghost {
	color:#AAA;
	text-decoration:none;
	padding: 2px;
	margin: 1px;
}

/* prev/next 100 buttons */
.browse_tool_button a {
	color:#2f4f4f;
	text-decoration:none;
	font-size:10pt;
	background: url('{template_url}/images/blue_gradient.png');
	border-width:1px;
	border-style: solid;
	border-color:#838b83;
	margin:2px;
	padding:2px 6px;
	-moz-border-radius:6px;
	-khtml-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.65);
	-moz-box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.65);
	box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.65);

}
.browse_tool_button a:visited {
	color:inherit;
}

.browse_tool_button a:hover {
	cursor:pointer;
	color:#000;
	border-color:#007FFF;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.browse_tool_ghost {
	display:none;
}

.clearlog {
	text-align:center;
}

/* Form Css */

.multilingual_form {
	line-height:0;
	display:inline;
	font-size:8pt;
	padding-right:450px;
}

span.required {
	color:red;
	font-weight:400;
}

.form_required_field {
    background: url({template_url}/images/required_field.png);
    margin: 0px;
    padding: 0px;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-top: 3px;
}


/* Status Message CSS */
.redtext {
	color:#A00;
display: inline-block;
}

/* DEPRECATED - Status Message CSS */
	.error_message {
	color:#A00;
	display:block;
	width:100%;
	text-align:center;
	font-size:14px;
}

.info_message {
	color:green;
	display:block;
	width:100%;
	text-align:center;
	font-size:14px;
}


/* VIEW SITE LOG */

.log_dtcontainer {
	margin-top: 5px;
}

table.log_viewer {
	width:100%;
	border:1px solid #BCCAD1;
	margin:0 auto;
}

table.log_viewer caption {
	color:#036;
	font-size:12pt;
	font-weight:400;
	text-align:left;
	padding:3px 0;
}

table.log_viewer th, table.display th {
	background-color:#e0e0e0;
	text-align:center;
}

table.log_viewer td {
	font-size:95%;
	text-align:center;
	padding:3px 1px;
	word-wrap:break-word;
}

.clearlogbtn, .savelogbtn {
	float: left;
	width: 25%;
}

.clearlogbtn img{
	vertical-align:bottom;
}

.shade_1 {
	background-color:#f5f5f5;
}

/* Site Log, Lead Manager, Blog Category and Blog Tags Datatables */

.log_dtcontainer, .lead_dtcontainer, #blog_cat_container, #blog_tags_container, .addon_dtcontainer {
	background: #fff;
}

.log_dtcontainer .top, .log_dtcontainer .bottom,
.lead_dtcontainer .top, .lead_dtcontainer .bottom,
#blog_cat_container .top, #blog_cat_container .bottom,
#blog_tags_container .top, #blog_tags_container .bottom,
.addon_dtcontainer .top, .addon_dtcontainer .bottom {
	background: #F4F7FF;
	background: -moz-linear-gradient(top, #F4F7FF 0%, #D2D8E0 40%, #C0CEC7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F7FF), color-stop(40%,#D2D8E0), color-stop(100%,#C0CEC7));
	background: -webkit-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: -o-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: -ms-linear-gradient(top, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	background: linear-gradient(to bottom, #F4F7FF 0%,#D2D8E0 40%,#C0CEC7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7ff', endColorstr='#c0cec7',GradientType=0 );
	padding: 10px;
	font-size: 1.1em;
}

.log_dtcontainer .dataTables_info, .lead_dtcontainer .dataTables_info, #blog_cat_container .dataTables_info, #blog_tags_container .dataTables_info {
	float: left;
	margin: 0px 0px 0px 0px;
}

.log_dtcontainer  .dataTables_length, .lead_dtcontainer  .dataTables_length, #blog_cat_container .dataTables_length, #blog_tags_container .dataTables_length{
	width: 25%;
	float: right;
	text-align: right;
	margin: 0px 0px 0px 0px;
}

.log_dtcontainer .dataTables_filter, .lead_dtcontainer .dataTables_filter, #blog_cat_container .dataTables_filter, #blog_tags_container .dataTables_filter {
	width: 50%;
	float: left;
	text-align: left;
	font-size: 1.1em;
}

.log_dtcontainer  .dataTables_paginate, .lead_dtcontainer  .dataTables_paginate, #blog_cat_container  .dataTables_paginate, #blog_tags_container .dataTables_paginate{
	width: 44px;
	float: right;
	text-align: right;
}

.log_dtcontainer  .paging_full_numbers, .lead_dtcontainer  .paging_full_numbers, #blog_cat_container .paging_full_numbers, #blog_tags_container .paging_full_numbers {
	width: 50%;
}


/* Propery Class Editor */
.insert_class_top_contents{
	background: #e5f5ff;
    background: -moz-linear-gradient(top, #e5f5ff 0%, #e0e0e0 38%, #b5c6d0 100%, #f2f6f8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5f5ff), color-stop(38%,#e0e0e0), color-stop(100%,#b5c6d0), color-stop(100%,#f2f6f8));
    background: -webkit-linear-gradient(top, #e5f5ff 0%,#e0e0e0 38%,#b5c6d0 100%,#f2f6f8 100%);
    background: -o-linear-gradient(top, #e5f5ff 0%,#e0e0e0 38%,#b5c6d0 100%,#f2f6f8 100%);
    background: -ms-linear-gradient(top, #e5f5ff 0%,#e0e0e0 38%,#b5c6d0 100%,#f2f6f8 100%);
    background: linear-gradient(to bottom, #e5f5ff 0%,#e0e0e0 38%,#b5c6d0 100%,#f2f6f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5f5ff', endColorstr='#f2f6f8',GradientType=0 );
    -webkit-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
    box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
    border-top: 1px solid #ccc;
    margin: 0 auto;
    padding: 10px;
    font-size: 1.3em;
}

.insert_class_top_contents a {
	text-align: right;
}

.insert_class_box{
	background: #F5F5F5;
    -webkit-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
    box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	padding: 5px 10px;
	font-size: 1.2em;
}

.insert_class_top_contents label {
	margin-top: 4px;
}

.admin_option_table {
	border-collapse: collapse;
	margin-top: 10px;
	width: 100%;
}

.admin_option_caption {
	font-size: 1.2em;
	text-shadow: 1px 1px 2px #ccc;
}

table.admin_property_class_table {
	width:100%;
	margin:0 auto;
	border-collapse: separate;
    border-spacing: 0 6px;
}

.admin_property_class_table tbody tr {
	background: #f9f9f9;
	height:28px;
	cursor: move;
	box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.55);
}

table.admin_property_class_table td {
	font-size: 1.2em;
	text-align:center;
}

table.admin_property_class_table td strong {
	background-color:#E1E9EC;
	display:block;
	line-height:22px;
}

.clrank {
	background: #f2f2f2;
}

.pclass_column_title {
	font-weight:700;
	font-size:10pt;
	text-align:center;
	margin:0;
	padding:3px;
	color: #444;
}

.classactions img {
	vertical-align: middle;
	margin-right: 4px;
}

.modify_class_box{
	padding: 5px;

}

.class_box_input1, .class_box_input2 {
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	color: #303030;
	font-size: 1.1em;
	margin: 1px;
	padding: 2px;

}

.modify_fe {
  margin: 0;
  padding: 0;
  padding-bottom: 1em;
  width: 350px;
}

.modify_fe .caption {
	float: left;
	text-align: right;
	margin: 6px 4px 0px 0px;
	font-size: 1.1em;
	width: 48%;
}


/* validation error formatting */
.modify_fe label {
	display: block;
	margin-top: 4px;
}

.modify_fe .class_box, .modify_fe .class_box {
    font-size: 1.1em;
	display: inline-block;
	width: 48%;
	clear: both;
}

.input1 {

}

.input2, .class_box_input2  {
	width: 35px;
}

#new_class_fields {
	-webkit-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
    box-shadow: 1px 1px 2px rgba(1, 0, 0, 0.75);
	padding: 10px;
}

#new_class_fields tr:nth-child(even) {
	background: #fafafa;
	 border: none;
}

#new_class_fields tr:nth-child(odd) {
	background: #e8e8e8;
	border: none;
}

#pclass_select_all_fields {
	padding: 5px;
	color: blue;
}

#pclass_unselect_all_fields {
	padding: 5px;
	color: blue;
}

#new_class_fields td {
	padding: 5px 2px;
}

.quick_edit_right{
	float:right;
}

.quick_edit_left{
	float:left;
}

.upgrade_contentWrap {
		margin:10px;
		overflow-y:auto;
}

/* CSS For File Upload Progress */
.fileuploadmeter {
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px 50px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

.fileuploadmeter > span {
	display: block;
	height: 100%;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: rgb(43,194,83);
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(43,194,83)),
	  color-stop(1, rgb(84,240,84))
	 );
	background-image: -webkit-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -moz-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -ms-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	background-image: -o-linear-gradient(
	  center bottom,
	  rgb(43,194,83) 37%,
	  rgb(84,240,84) 69%
	 );
	-webkit-box-shadow:
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow:
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}

/* OR Admin Index Listing Stats */

.stat_caption {
	font-weight: bold;
	margin-left: 10px;
	width: 200px;
	display: inline-block;
}

.stat_content{
	padding: 10px 0px 10px 0px;
}

/* Site Config */
#site_config_general a {
	color: #1464F4;
}
#site_config_main input[type='text'],
#site_config_main select,
#site_config_main textarea,
#site_config_main select[multiple] {
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	color: #303030;
	font-size: 1em;
	margin: 1px;
	padding: 2px;
}
#site_config_main input[type='text']:focus,
#site_config_main select:focus,
#site_config_main textarea:focus,
#site_config_main select[multiple]:focus{
	outline: none; /*webkit fix*/
	background-color: #fff;
	border: 1px solid #236B8E;
}