<div class ="application_main">
	 <div class="application_section">
		 <img src="{template_url}/images/icon_large_usermanager.png" height="32" width="32" alt="{lang_user_manager}" />
		<div class="application_section_title">{lang_user_manager}</div>
		<div class="application_status_message" id="application_status_message">{application_status_text}</div>
		<span class="application_section_info"></span>
		<div style="clear: both;"></div>
	</div>
	
	<div class="inner_div">
		<div class="inner_div_wrapper">
			<div class="application_rounded_box_new">	
				{quick_edit_bar}
				<div class="space_5"></div>
				{next_prev}
			</div>	
			<br />

		{user_dataset}
		
			<table id="user_{user_id}" class="edit_users result_row_{row_num_even_odd}" cellpadding="0" cellspacing="0" border="0">
				<tr class="userheader">
					<th colspan="2">
						<a href="index.php?action=edit_user&user_id={user_id}"><span class="user_full_name">({user_id}) {user_last_name}, {user_first_name} : {user_email}</span></a>  
					</th>
					<th class="useractions">
						<a href="index.php?action=edit_user&user_id={user_id}"><img src="{template_url}/images/generic_icon_edit.png" title="{lang_edit}" alt="{lang_admin_listings_editor_modify_listing}" width="16" height="16" />{lang_edit}</a>
						&nbsp;&nbsp;<a href="#" onclick="delete_user({user_id});"><img src="{template_url}/images/generic_icon_delete.png" title="{lang_delete}" alt="{lang_admin_listings_editor_delete_listing}" width="16" height="16" />{lang_delete}</a>
					</th>
				</tr>
				<tr>
					<td><div class="space_5"></div>
				</tr>
				<tr>
					<td class="usersimage">
						<a href="index.php?action=edit_user&user_id={user_id}"><img src="{raw_user_image_thumb_1}" alt="{user_last_name}, {user_first_name}" /></a>
					</td>
					<td class="usercontent">
						<div class="username">
							<span class="label">{lang_user_manager_user_name}:</span>
							<span class="value"><a href="mailto:{user_email}">{user_name}&nbsp;<img src="{template_url}/images/email.png"></a></span>
						</div>
						<div class="usertype">
							<span class="label">{lang_user_manager_account_type}:</span>
							<span class="value">{user_type}</span>
						</div>
						<div class="userlastmodified">
							<span class="label">{lang_creation_date}:</span>
							<span class="value">{user_creation_date}</span>
						</div>
						<div class="userlastmodified">
							<span class="label">{lang_last_modified}:</span>
							<span class="value">{user_last_modified}</span>
						</div>
						
					</td>
					<td class="userinfo">
						<div class="userstatus">
							<span class="label">{lang_user_manager_active}:</span>
							<span class="value" id="active_link_{user_id}">
								<a href="#" class="edit_user_{user_status}" onclick="change_user_status('{user_id}', '{user_first_name}', '{user_last_name}', '{raw_user_image_thumb_1}', '{user_status}', '{is_agent}');return false;">{lang_{user_status}}</a>
							</span>
						</div>
						<div class="space_5"></div>
						{check_edit_all_users}
						<div class="userstatus">
							<span class="label">{lang_reset_password}:</span>
							<span class=""><a href ="#" class="edit_user_yes" id="reset_pass_{user_id}" onclick="reset_password({user_id}, '{user_first_name}', '{user_last_name}', '{raw_user_image_thumb_1}'); return false; ">&nbsp;<span id="reset_{user_id}" ></span>&nbsp;</a></span>
							
						</div>
						{/check_edit_all_users}
					</td>
				</tr>
				<tr>
					<td class="space_5"></td>
				</tr>
				
			</table>
		
		{/user_dataset}
	
		</div>
		<div class="clear"></div>
    </div> 
</div>

<script type="text/javascript">
	function reset_password(UID, user_first_name, user_last_name, user_photo){
		var insert_html = [
			           		'<table><tr>',
			           		'<td>{lang_confirm_pass_reset}', 
							'<br />', 
							'ID# '+UID+' ('+user_first_name+' '+user_last_name+')', 
							'<br/><br/>',
							'<input type="checkbox" id="sendmail" value="1" checked>{lang_confirm_send_mail}</td>',
							'<td><img src="'+user_photo+'" height="75" /></td>',
							'</tr></table>'
							].join('');
		$("#message_text").html(insert_html);
		$("#dialog-message").dialog({
			title: "{lang_dialog_confirm}",
			modal: true,
			buttons: {
				{lang_button_ok}: function() {
					$( this ).dialog( "close" );
					var sendmail = $("#sendmail").is(":checked");
					$.getJSON("ajax.php?action=ajax_reset_password", { 
						user_id: UID,
						user_first_name: user_first_name,
						user_last_name: user_last_name,
						sendmail: sendmail
					}, 
					function(json){
						if(json.error == 0){
							if (json.sendmail){
								var sendmail = '{lang_email_sent}';
							}
							else {
								var sendmail = '';
							}
							var insert_response =[
								sendmail+'<br/>',
								'{lang_password_changed}',
								'<br />#'+json.user_id+' ('+user_first_name+' '+user_last_name+')',
								'<br/>',
								'{lang_new_pasword_is}<input type="text" value="'+json.newpass+'" size="12" onFocus="this.select()" onclick="select()" readonly />'
								].join('');
							$("#message_text").html(insert_response);
							$("#dialog-message").dialog({
								title: "{lang_copy_cmd}",
								modal: true,
								buttons: {
									{lang_button_close}: function() {
										$( this ).dialog( "close" );
									}
								}
							});
							$("#reset_"+UID).html('<img src="{template_url}/images/ok.png" height="10">');
							$("#reset_pass_"+UID).attr('class', 'edit_user_no');
							
						}else{
							$("#message_text").html('{lang_admin_pass_warning}');
							$("#dialog-message").dialog({
								title: (json.error_msg),
								modal: true,
								buttons: {
									{lang_button_close}: function() {
										$( this ).dialog( "close" );
									}
								}
							});
						}
	   				});
				},
				{lang_button_cancel}: function() {
					$( this ).dialog( "close" );
				}
			}
		});
	return false;
	}
	

	function change_user_status(UID, user_first_name, user_last_name, user_photo, user_status, is_agent){

		var listing_warn ="";
		var user_status_new ="";
		var lang_user_status ="";
		var confirm_status ="";
		var active_html ="";
		
		if (user_status =="yes"){
			listing_warn = "{lang_confirm_listing_change}";
			user_status_new = "no";
			lang_user_status = "{lang_no}";
			confirm_status = "{lang_confirm_status_inactive}";
		}
		else {
			listing_warn = "{lang_agent_listings_updated}";
			user_status_new = "yes";
			lang_user_status = "{lang_yes}";
			confirm_status = "{lang_confirm_status_active}";
		}

		if (is_agent =="yes") {
			active_html = [
				   		'<table><tr>',
			   	   		'<td>{lang_confirm_status_id} '+UID+'', 
			   	   		'<br />',
			   	   		'('+user_first_name+' '+user_last_name+')',
			   	   		'<br />',
			   	   		confirm_status, 
						'<br/><br/>',
						listing_warn+'</td>',
						'<td><img src="'+user_photo+'" height="75" /></td>',
						'</tr></table>'
			].join('');
		}
		else{
			active_html = [
			       		'<table><tr>',
				  		'<td>{lang_confirm_status_id} '+UID+'', 
			 	   		'<br />',
			 	   		'('+user_first_name+' '+user_last_name+')',
			 	   		'<br />',
			 	   		confirm_status, 
						'</tr></table>'
			].join('');
		}

		$("#message_text").html(active_html);
		$("#dialog-message").dialog({
			title: "{lang_dialog_confirm}",
			modal: true,
			buttons: {
				{lang_button_ok}: function() {
					$( this ).dialog( "close" );
					$.post("ajax.php?action=ajax_change_user_status", { 
						user_id: UID,
						user_active: user_status_new
					}, 
					function(data){
						if(data.error == 0){
							var change_func ="change_user_status('"+UID+"', '"+user_first_name+"', '"+user_last_name+"', '"+user_photo+"', '"+user_status_new+"', '"+is_agent+"'); return false;";
							$("#active_link_"+UID).html(
								'<a href="#" onclick="'+change_func+'" class="edit_user_'+user_status_new+'">'+lang_user_status+'</a>'
							);
							activelink ='';
							status_msg(data.status_msg,focus);
						}
						if(data.error == 2){
							$("#message_text").html("{lang_admin_status_warning}");
							$("#dialog-message").dialog({
								title: (data.error_msg),
								modal: true,
								buttons: {
									{lang_button_close}: function() {
										$( this ).dialog( "close" );
									}
								}
							}); 
						}				
						if(data.error == 1){
							$("#message_text").html("Error updating user: "+UID);
							$("#dialog-message").dialog({
								title: "ERROR",
								modal: true,
								buttons: {
									{lang_button_close}: function() {
										$( this ).dialog( "close" );
									}
								}
							});
						}
		   			},"json");
				},
				{lang_button_cancel}: function() {
					$( this ).dialog( "close" );
				}
			}
		});
		
	}
	
	$(document).ready(function() { 
	<!--	$(".filter_divs").equalHeights(); -->
	}); 

</script>