@CHARSET "UTF-8";

#lead_filter_status {
	float:left;
	padding: 4px;
	font-size: 1.2em;
}

#lead_filter_status a {
	color: #1464F4;
}

#actionlinks {
	text-align: center;
}
#actionlinks img {
	padding: 0px 4px;
}


#display_locations  {
	width: 100%;
    border-color: #ddd;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-spacing: 0;
}

#display_locations td {
    border-color: #ddd;
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    margin: 0;
   	background-color: #f8f8f8;
}

#display_locations input[type="text"]{
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	color: #303030;
	font-size: 9pt;
}

#display_locations input[type="text"]:focus, #notes:focus, #display_locations textarea:focus {
	outline: none; /*webkit fix*/
	background: #fff;
	border: 1px solid #236B8E;
}


#display_locations select {
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	font-size: 9pt;
	color: #2f4f4f;
	width: 176px;
}


#display_locations select:focus {
	background: #fff;
	border: 1px solid #236B8E;
}

#display_locations option {
	border:1px solid #AAAAAA;
	-moz-border-radius:2px;
	-khtml-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background: #FFFFCC;
	font-size: 9pt;
	color: #2f4f4f;
	width: 210px;
}

#display_locations textarea {
	border:1px solid #AAAAAA;
	background: #FFFFCC;
	color: #303030;
	font-size: 9pt;
	width: 176px;
}


#notes{
	width: 100%;
	border: 1px solid #AAA;
	background: #FFFFCC;
	color: #303030;
	font-size: 9pt;
	display: block;
}


textarea#staff_notes{
	width: 99%;
	border: 1px solid #AAA;
	background: #FFFFCC;
	color: #303030;
	font-size: 9pt;
	display: block;

}

#update_feedback .field_caption {
		width: 49%;
}

#update_feedback .field_element {
		width: 49%;
}



.note_div {
	margin: 4px;
}
.save_note{
	margin: 4px;
}

.save_note_img{
	vertical-align:text-bottom;
}

/***** viewfeedback page stuff *********/
	#header {
		margin:0;
		padding:0;
		border:0;
		clear:both;
		float:left;
		width: 100%;
		height: 40px;
		text-align: center;
	}

	/* Active & Inactive status */
	.active_status_off {
		font-weight: bold;
		font-size: 10pt;
		color: red;
	}
	.active_status_on {
		font-weight: bold;
		font-size: 10pt;
		color: blue;
	}


	.col_50 {
		width: 50%;
		vertical-align:top;
	}
	.col_100 {
		width: 100%;
	 }

	/* Display Locations */


	 #headline{
		width: 100%;
		padding: 5px;
	}
	#top_left {
		margin: 5px;
	}
	#bottom_left{
		margin: 5px;
	}
	#top_right {
		margin: 5px;
		text-align: left;
	}
	#bottom_right {
		margin: 5px;
	}
	#center {
		min-height: 24px;
	    Margin: 5px;
		text-align: justify;
	}
	.feedback_caption {
		font-weight: bold;
		margin-right: 5px;
	}

	.lead_notes{
		margin: 4px;

	}
	.calendar_div{
		margin: 5px;
	}

	#staff_notes {
		height: 260px;
	}



/************ right & left arrow pagination **********/

	.leftnav{
		float: left;
		width: 30px;
	}
	.leftnav A{
		text-decoration: none;
		display: block;
		width: 30px;
	}
	.leftnav A:hover{
		background: #DBDBDB;
	}
	.rightnav {
		float: right;
		width: 30px;
	}
	.rightnav A{
		text-decoration: none;
		display: block;
		width: 30px;
	}
	.rightnav A:hover{
		background: #DBDBDB;

	}

/************ Initial feedback_edit page **********/

	.stripe {
		margin: 0 auto;
		width: 100%;
		border: 1px solid black;
		border-collapse: collapse;
		padding: 0;
	}
	.oddrow {
		background-color: #E5E5E5;
	}

	.sortstyle {
		padding: 0px;
		margin: 0 auto;
		width: 100%;
		text-align: center;
		border-right: 1px solid black;
		border-left: 1px solid black;
	}
	.sortstyle a {
		text-decoration: none;
		display: block;
		background: #fffff;
		padding: 0;
		color: #00c;
		text-align: center;

   	}
	.sortstyle a:hover {
		background: #C0C0C0;
	}

	#next_prev {
		font-family: Arial;
		padding: 0px;
		margin: 0 auto;
		width: 100%;
		text-align: center;
		border-right: 1px solid black;
		border-left: 1px solid black;
	}

/************ tabs **********/

	#main {
		width:100%;
	}
	#tabs ul {
		list-style: none;
		padding: 0;
		margin: 0;
    }
	#tabs li {
		border: 1px solid #bbb;
		border-bottom-width: 0;
		margin: 0;
    }
	#tabs a {
		text-decoration: none;
		display: block;
		background: #DBDBDB;
		padding: 0.24em 1em;
		color: #00c;
		width: 8em;
		text-align: center;
    	font-size: 10pt;
    }
	#tabs a:hover {
		background: #C0C0C0;
	}
	#tabs #selected {
		border-color: black;
	}
	#tabs #selected a {
		position: relative;
		top: 1px;
		background: white;
		color: black;
		font-weight: bold;
	}

	.navspace {
		border-left: 1px solid #ccc;
		border-top: 1px solid #ccc;
		-webkit-box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.75);
		-moz-box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.75);
		box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.75);
		height:38px;
		background: #F2F2F2;
 		text-align: center;
	}

	.edit_main {
		border-right: 1px solid black;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
		margin: 0 auto;
		width: 100%;
		background: #f0f8ff;
	}

.member_view_info_container {
	 	width: 240px;
 		float:left;
		margin: 5px 0px 5px 5px;
}


.lead_notes_title {
	padding: 3px;
	font-size: 10pt;
	font-weight: 600;
	color: #303030;
}

.normal_caption{
	font-weight: 600;
}
.multiple_options_caption{
	font-weight: 600;
}


.member_info_container{
	width: 50%;
	margin-left:5px;
	float:left;
}
.display_locations_container{

	margin: 5px 5px 5px 245px;
}
.member_info_caption{
	font-weight:bold;
}
.lead_listing_details{
 	padding:4px;
 	margin: 4px;
}
.lead_listing_details img{
	vertical-align:text-top;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	padding: 5px;
}

.lead_edit_listing_details{
	margin-top:5px;

}
.lead_edit_listing_details img{
	vertical-align:text-top;
	display: block;
	max-height: 200px;
	padding: 5px;
}
